Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

cql3/query_rsult_printer: add seastar::output_stream<> overloads
  cql3/query_result_printer.hh
  cql3/result_set.cc
Owners: @tgrabiec, @penberg, @psarna

utils/rjson: introduce json schema
  utils/rjson.cc
  utils/rjson.hh
Owners: none

types/json_utils.cc: use rjson::quote_json_string()
  types/json_utils.cc
Owners: none

db/config: add webshell configuration items
  db/config.cc
  db/config.hh
Owners: none

tools/webshell: implement the login handler
  tools/webshell/webshell.cc
Owners: none

tools/webshell: introduce webshell skeleton
  configure.py
  main.cc
  tools/webshell/webshell.cc
  tools/webshell/webshell.hh
Owners: none

tools/webshell: implement the resource_handler
  configure.py
  tools/webshell/resources/favicon.ico
  tools/webshell/resources/webshell.html
  tools/webshell/resources/webshell.js
  tools/webshell/webshell.cc
  tools/webshell/webshell.resources
Owners: none

tools/webshell: implement logout handler
  tools/webshell/webshell.cc
Owners: none

tools/webshell: add endpoint handlers and setup routes
  tools/webshell/webshell.cc
Owners: none

tools/webshell: implement the command handler
  tools/webshell/webshell.cc
Owners: none

tools/webshell: implement the query handler
  tools/webshell/webshell.cc
Owners: none

test/cqlpy: add test_webshell.py
  test/cqlpy/test_webshell.py
Owners: none

tools/webshell: implement the option handler
  tools/webshell/webshell.cc
Owners: none

docs/operating-scylla/admin-tools: add webshell.rst
  docs/operating-scylla/_common/tools_index.rst
  docs/operating-scylla/admin-tools/index.rst
  docs/operating-scylla/admin-tools/webshell.rst
Owners: none

build: add resource support
  CMakeLists.txt
  configure.py
  resources.cc
  resources.hh
  scripts/resources.py
Owners: none

test/cluster: add reproducers for repair over a range spanning replica sets
  test/cluster/test_repair.py
Owners: none

reader_concurrency_semaphore: introduce the disk queue
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: simplify admission
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: reader_resources: drop with_memory()
  mutation/mutation_fragment_v2.hh
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: @tgrabiec, @haaawk

readers: (re)introduce the restricted reader
  readers/mutation_readers.cc
  readers/restricted.hh
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: enable the disk queue
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: use strong types for count and memory resources
  mutation/mutation_fragment.hh
  mutation/mutation_fragment_v2.hh
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: @tgrabiec, @haaawk

db,replica: route disk reads through the restricted reader
  db/row_cache.cc
  replica/table.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: change from base to credited resources
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
  readers/multishard.cc
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

reader_permit: use memory_resources for admission_credit
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: inline has_available_units()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: make evict_readers_in_background() really background
  reader_concurrency_semaphore.cc
Owners: none

WIP
  cql3/restrictions/statement_restrictions.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

db,replica: route disk reads through the restricted reader
  db/row_cache.cc
  replica/table.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: simplify admission
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

readers: (re)introduce the restricted reader
  readers/mutation_readers.cc
  readers/restricted.hh
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: introduce the disk queue
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: change from base to credited resources
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
  readers/multishard.cc
  repair/row_level.cc
  test/boost/reader_concurrency_semaphore_test.cc
Owners: @tgrabiec, @asias, @nyh

reader_concurrency_semaphore: enable the disk queue
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: use strong types for count and memory resources
  mutation/mutation_fragment.hh
  mutation/mutation_fragment_v2.hh
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: @tgrabiec, @haaawk

reader_permit: reader_resources: drop with_memory()
  mutation/mutation_fragment_v2.hh
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: inline has_available_units()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: make evict_readers_in_background() really background
  reader_concurrency_semaphore.cc
Owners: none

reader_permit: use memory_resources for admission_credit
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: introduce the disk queue
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none
