Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

mutation_reader: convert make_combined_reader() overloads to v2
  mutation_reader.cc
  mutation_reader.hh
  sstables/sstable_set.cc
  table.cc
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_writer_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_mutation_test.cc
  test/lib/memtable_snapshot_source.hh
  test/perf/perf_mutation_readers.cc
  test/perf/perf_row_cache_update.cc
  test/unit/row_cache_stress_test.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

mutation_reader: convert position_reader_queue to v2
  mutation_reader.hh
  sstables/sstable_set.cc
  sstables/sstable_set_impl.hh
  test/boost/mutation_reader_test.cc
  test/lib/simple_position_reader_queue.hh
  test/perf/perf_mutation_readers.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

mutation_reader: convert make_clustering_combined_reader() to v2
  mutation_reader.cc
  mutation_reader.hh
  sstables/sstable_set.cc
  test/boost/mutation_reader_test.cc
  test/perf/perf_mutation_readers.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

test/boost/mutation_reader_test: add test_combined_reader_range_tombstone_change_merging
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

mutation_reader: convert make_clustering_combined_reader() to v2
  mutation_reader.cc
  mutation_reader.hh
  sstables/sstable_set.cc
  test/boost/mutation_reader_test.cc
  test/perf/perf_mutation_readers.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

mutation_reader: convert position_reader_queue to v2
  mutation_reader.hh
  sstables/sstable_set.cc
  sstables/sstable_set_impl.hh
  test/boost/mutation_reader_test.cc
  test/lib/simple_position_reader_queue.hh
  test/perf/perf_mutation_readers.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

mutation_reader: convert make_combined_reader() overloads to v2
  mutation_reader.cc
  mutation_reader.hh
  sstables/sstable_set.cc
  table.cc
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_writer_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_mutation_test.cc
  test/lib/memtable_snapshot_source.hh
  test/perf/perf_mutation_readers.cc
  test/perf/perf_row_cache_update.cc
  test/unit/row_cache_stress_test.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

mutation_reader: combined_reader: convert reader_selector to v2
  mutation_reader.cc
  mutation_reader.hh
  sstables/sstable_set.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

mutation_reader: convert combined reader to v2
  mutation_reader.cc
  mutation_reader.hh
Owners: @tgrabiec, @haaawk

test/boost/mutation_reader_test: add test_combined_reader_range_tombstone_change_merging
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

main: extract scylla specific code into scylla_main()
  main.cc
Owners: none

main: add skeleton switching code on --tool
  main.cc
Owners: none

tools: prepare for inclusion in scylla's main
  tools/entry_point.hh
  tools/scylla-sstable.cc
  tools/scylla-types.cc
Owners: none

main,tools,configure.py: fold tools into scylla exec
  configure.py
  main.cc
  tools/scylla-sstable.cc
  tools/scylla-types.cc
Owners: none

query_result_builder: support consuming a v2 stream
  mutation_partition.cc
  query-result-writer.hh
Owners: @tgrabiec, @haaawk

reconcilable_result_builder: add support for consuming v2 stream
  mutation_partition.cc
  mutation_query.hh
Owners: @tgrabiec, @haaawk

reader_permit: reader_resources: add move semantics
  reader_permit.hh
Owners: none

reader_permit: add release_base_resource()
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

repair: make sure there is one permit per repair with count res
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

test/boost/mutation_test: add rebuild test for mutation::consume()
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

mutation: consume(): use a cursor instead of iterators
  mutation.hh
Owners: @tgrabiec, @haaawk

mutation: consume(): make it pausable/resumable
  mutation.hh
Owners: @tgrabiec, @haaawk

flat_mutation_reader: extract mutation slicing into a function
  flat_mutation_reader.cc
Owners: @tgrabiec, @haaawk

flat_mutation_reader: convert make_flat_mutation_reader_from_mutation() v2
  flat_mutation_reader.cc
  flat_mutation_reader_v2.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

sstables/partition_index_cache: destroy entry ptr on error
  sstables/partition_index_cache.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/index_reader: process_state(): add additional information to trace logging
  sstables/index_reader.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/index_reader: verify_end_state(): add check for premature EOS
  sstables/index_reader.hh
  test/boost/broken_sstable_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/index_reader: add const sstable& to index_consume_entry_context
  sstables/index_reader.hh
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/index_reader: convert exception in verify_end_state() to malformed sstable exception
  sstables/index_reader.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/index_reader: remove unused members from index_consume_entry_context
  sstables/index_reader.hh
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

WIP
  mutation_compactor.hh
  range_tombstone_assembler.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

tools/scylla-sstable: add json support in --dump-scylla-metadata
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: prepare --dump-data for multiple output formats
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: use fmt::print in --dump
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: dump_compression_info_operation() extract per-sstable dump code
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: add json support in --dump-index
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: add json support in --dump-statistics
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: add json support in --dump-compression-info
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: add json support in --dump-data
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: dump_summary_operation() extract per-sstable dump code
  tools/scylla-sstable.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
