Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

sstables: sstable_set: remove now unused make_restricted_range_sstable_reader()
  sstables/sstable_set.cc
  sstables/sstable_set.hh
Owners: @tgrabiec, @raphaelsc, @nyh

streaming/stream_session: use database::obtain_reader_permit()
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

test: move away from make_permit()
  test/boost/multishard_mutation_query_test.cc
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/querier_cache_test.cc
  test/boost/view_build_test.cc
  test/lib/reader_lifecycle_policy.hh
  test/lib/reader_permit.cc
  test/manual/sstable_scan_footprint_test.cc
Owners: @tgrabiec, @haaawk

test: mutation_reader_test: convert restricted reader tests to semaphore tests
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

reader_permit: remove now unused wait_admission()
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

table: make_sstable_reader(): fix indentation
  table.cc
Owners: none

reader_concurrency_semaphore: drop make_permit()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

table: make_sstable_reader(): remove restriction
  table.cc
Owners: none

mutation_reader: remove now unused restricting_reader
  database.hh
  mutation_reader.cc
  mutation_reader.hh
  table.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

ldap_connection: protect global initialization for older openldap libraries
  ent/ldap/ldap_connection.cc
  ent/ldap/ldap_connection.hh
Owners: none

reader_concurrency_semaphore: add dump_diagnostics()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

test: mutation_reader_test: add test_reader_concurrency_semaphore_readmission_preserves_units
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

reader_permit: always forward resources
  reader_concurrency_semaphore.cc
  reader_permit.hh
  test/boost/querier_cache_test.cc
Owners: none

test: mutation_reader_test: add test_reader_concurrency_semaphore_forward_progress
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

encryption: Add end-of-file marker to CL options metadata
  ent/encryption/encryption.cc
Owners: none

Add very basic coverage report generation support
  HACKING.md
  configure.py
Owners: none

dist: add DefaultDependencies=no to .mount units
  dist/common/scripts/scylla_coredump_setup
  dist/common/scripts/scylla_raid_setup
Owners: none

scylla_raid_setup: enabling mdmonitor.service on Debian variants
  dist/common/scripts/scylla_raid_setup
Owners: none

dist/common/scripts/scylla_util.py: move DEBIAN_FRONTEND environment variable to apt_install()/apt_uninstall()
  dist/common/scripts/scylla_util.py
Owners: none

dist/common/scripts: drop run() and out(), swtich to subprocess.run()
  dist/common/scripts/node_exporter_install
  dist/common/scripts/scylla_bootparam_setup
  dist/common/scripts/scylla_coredump_setup
  dist/common/scripts/scylla_ec2_check
  dist/common/scripts/scylla_kernel_check
  dist/common/scripts/scylla_ntp_setup
  dist/common/scripts/scylla_prepare
  dist/common/scripts/scylla_raid_setup
  dist/common/scripts/scylla_selinux_setup
  dist/common/scripts/scylla_setup
  dist/common/scripts/scylla_stop
  dist/common/scripts/scylla_swap_setup
  dist/common/scripts/scylla_sysconfig_setup
  dist/common/scripts/scylla_util.py
Owners: none

scylla_ntp_setup: support systemd-timesyncd
  dist/common/scripts/scylla_ntp_setup
  dist/common/scripts/scylla_util.py
Owners: none

dist: move back is_amzn2() to scylla_util.py
  dist/common/scripts/scylla_cpuscaling_setup
  dist/common/scripts/scylla_util.py
Owners: none

dist: rename is_gentoo_variant() to is_gentoo()
  dist/common/scripts/node_exporter_install
  dist/common/scripts/scylla_coredump_setup
  dist/common/scripts/scylla_cpuscaling_setup
  dist/common/scripts/scylla_ntp_setup
  dist/common/scripts/scylla_selinux_setup
  dist/common/scripts/scylla_setup
  dist/common/scripts/scylla_util.py
Owners: none

dist: support SLES/OpenSUSE
  dist/common/scripts/scylla_cpuscaling_setup
  dist/common/scripts/scylla_fstrim_setup
  dist/common/scripts/scylla_ntp_setup
  dist/common/scripts/scylla_util.py
Owners: none

dist/debian: rename .default file correctly
  dist/debian/debian_files_gen.py
Owners: none

scylla_coredump_setup: don't run apt-get when systemd-coredump is already installed
  dist/common/scripts/scylla_coredump_setup
Owners: none

dist: add package name translation
  dist/common/scripts/scylla_cpuscaling_setup
  dist/common/scripts/scylla_util.py
Owners: none

dist: drop /etc/security/limits.d/scylla.conf
  dist/common/limits.d/scylla.conf
  dist/common/systemd/scylla-server.service
  dist/debian/debian/scylla-server.install
  dist/redhat/scylla.spec
  install.sh
Owners: none

dist: make sysconfig directory detectable
  dist/common/scripts/scylla_prepare
  dist/common/scripts/scylla_stop
  dist/common/scripts/scylla_sysconfdir.py
  dist/common/scripts/scylla_sysconfig_setup
  dist/common/scripts/scylla_util.py
  install.sh
Owners: none

dist: support Arch Linux
  dist/common/scripts/scylla_cpuscaling_setup
  dist/common/scripts/scylla_fstrim_setup
  dist/common/scripts/scylla_ntp_setup
  dist/common/scripts/scylla_raid_setup
  dist/common/scripts/scylla_util.py
Owners: none

scylla_ntp_setup: use chrony on all distributions
  dist/common/scripts/scylla_ntp_setup
Owners: none

scylla_raid_setup: don't abort using raiddev when array_state is 'clear'
  dist/common/scripts/scylla_raid_setup
Owners: none

scylla_ntp_setup: detect already installed ntp client
  dist/common/scripts/scylla_ntp_setup
Owners: none

dist: show warning on unsupported distributions
  dist/common/scripts/scylla_cpuscaling_setup
  dist/common/scripts/scylla_ntp_setup
Owners: none

test: multishard_mutation_query_test: fuzzy-test: don't consume resource up-front
  test/boost/multishard_mutation_query_test.cc
Owners: @tgrabiec, @haaawk

scylla-gdb.py: prevent infinite recursion in intrusive_list.__len__()
  scylla-gdb.py
Owners: none

scylla-gdb.py: std_map() add __len__()
  scylla-gdb.py
Owners: none

scylla-gdb.py: add pretty printer for std::string_view
  scylla-gdb.py
Owners: none

scylla-gdb.py: introduce scylla reads
  scylla-gdb.py
Owners: none

database: get_reader_concurrency_semaphore(): make the user semaphore the catch-all
  database.cc
  database.hh
  test/boost/database_test.cc
Owners: none
