Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

test: move away from tombstone_gc_getter default ctor
  test/boost/database_test.cc
  test/boost/memtable_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_another_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/mutation_writer_test.cc
  test/boost/querier_cache_test.cc
  test/boost/sstable_compaction_test.cc
  test/lib/mutation_assertions.hh
  test/lib/mutation_reader_assertions.hh
  test/lib/mutation_source_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @tgrabiec, @haaawk

tombstone_gc: drop tombstone_gc_getter default ctor
  tombstone_gc.hh
Owners: none

tombstone_gc: rm tombstone_gc::operator bool()
  tombstone_gc.hh
Owners: none

tombstone_gc: add tombstone_gc_getter factory methods for gc_all and no_gc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

mutation: move away from tombstone_gc_getter default ctor
  db/view/view.cc
  mutation/mutation.cc
  mutation/mutation_partition.cc
  replica/mutation_dump.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

wip
  db/batchlog_manager.cc
Owners: @elcallio

mutation/mutation_compactor: add tombstone_gc_state to query ctor
  db/view/view.cc
  multishard_mutation_query.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
  replica/mutation_dump.cc
  replica/table.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

tombstone_gc: add tombstone_gc_state factory methods for gc_all and no_gc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

db/row_cache: use tombstone_gc_state with value semantics
  db/cache_mutation_reader.hh
  db/read_context.hh
  db/row_cache.cc
  db/row_cache.hh
  replica/table.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

compaction: use tombstone_gc_state with value semantics
  compaction/compaction.cc
  compaction/table_state.hh
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/lib/test_services.cc
  tombstone_gc.hh
  tools/scylla-sstable.cc
Owners: none

tombstone_gc: shared state into shared_tombstone_gc_state
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  repair/row_level.cc
  replica/database.cc
  replica/table.cc
  replica/tablets.cc
  service/raft/group0_state_id_handler.cc
  service/storage_service.cc
  test/boost/row_cache_test.cc
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @tgrabiec, @asias, @nyh, @haaawk

replica/table: add get_tombstone_gc_state()
  db/view/view.cc
  multishard_mutation_query.cc
  replica/database.hh
  replica/table.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

sstables/mx/writer: handle non-full prefix row keys
  sstables/mx/writer.cc
  test/boost/sstable_datafile_test.cc
Owners: none

tools/scylla-nodetool: backup: add --move-files parameter
  docs/operating-scylla/nodetool-commands/backup.rst
  test/nodetool/test_backup.py
  tools/scylla-nodetool.cc
Owners: none

mutation: check key of inserted rows
  mutation/mutation_partition.cc
  mutation/mutation_partition.hh
  mutation/mutation_partition_v2.cc
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

mutation/mutation_compactor: add tombstone_gc_state to query ctor
  db/view/view.cc
  multishard_mutation_query.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
  replica/mutation_dump.cc
  replica/table.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

db/row_cache: use tombstone_gc_state with value semantics
  db/cache_mutation_reader.hh
  db/read_context.hh
  db/row_cache.cc
  db/row_cache.hh
  replica/table.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

tombstone_gc: add tombstone_gc_state factory methods for gc_all and no_gc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: shared state into shared_tombstone_gc_state
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  repair/row_level.cc
  replica/database.cc
  replica/table.cc
  replica/tablets.cc
  service/raft/group0_state_id_handler.cc
  service/storage_service.cc
  test/boost/row_cache_test.cc
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @tgrabiec, @asias, @nyh, @haaawk

compaction: use tombstone_gc_state with value semantics
  compaction/compaction.cc
  compaction/table_state.hh
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/lib/test_services.cc
  tombstone_gc.hh
  tools/scylla-sstable.cc
Owners: none

replica/table: add get_tombstone_gc_state()
  db/view/view.cc
  multishard_mutation_query.cc
  replica/database.hh
  replica/table.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

db/batchlog_manager: finish coroutinizing replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

mutation/mutation_compactor: add tombstone_gc_enabled parameter
  multishard_mutation_query.cc
  multishard_mutation_query.hh
  mutation/mutation_compactor.hh
  querier.hh
  replica/database.cc
  replica/database.hh
  replica/query.hh
  replica/table.cc
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

replica/mutation_dump: multi_range_partition_generator: disable garbage-collection
  replica/mutation_dump.cc
  test/cqlpy/test_select_from_mutation_fragments.py
Owners: @tgrabiec, @haaawk

schema,cql3: add compact_during_memtable_flush table property
  cql3/statements/cf_prop_defs.cc
  cql3/statements/cf_prop_defs.hh
  db/schema_tables.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
Owners: @tgrabiec, @nyh

replica/table: handle empty sstables after flush
  replica/table.cc
Owners: none

compaction/compaction_garbage_collector: introduce tombstone_gc
  compaction/compaction_garbage_collector.hh
Owners: none

sstables/mx/writer: detect empty sstable at the end of stream
  sstables/mx/writer.cc
Owners: none

memtable: add get_rp_set() getter
  replica/memtable.hh
Owners: none

db/batchlog_manager: include cleanup flag in replayAllFailedBatches log
  db/batchlog_manager.cc
Owners: @elcallio

replica/memtable: add compation stage to memtable flush
  mutation_writer/partition_based_splitting_writer.cc
  replica/memtable-sstable.hh
  replica/memtable.cc
  replica/memtable.hh
  replica/table.cc
  test/boost/memtable_test.cc
  test/boost/sstable_directory_test.cc
  test/lib/sstable_utils.cc
  test/perf/memory_footprint_test.cc
  test/perf/perf_sstable.hh
Owners: @tgrabiec, @haaawk

db/system_keyspace: set set_memtable_compact_flushed_data=true on batchlog table
  db/system_keyspace.cc
Owners: none

commitlog,tombstone_gc: allow to restrict commitlog gc-before check
  db/commitlog/commitlog.cc
  db/commitlog/commitlog.hh
  main.cc
  test/boost/row_cache_test.cc
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @elcallio, @tgrabiec, @haaawk

compaction: extract sstable overlap check into separate class
  compaction/compaction.cc
  compaction/sstables_max_purgeable.hh
Owners: none

tombstone_gc: add copy constructor to tombstone_gc_state
  tombstone_gc.hh
Owners: none

db/system_keyspace: disable caching for the batchlog table
  db/system_keyspace.cc
Owners: none

test/lib/cql_assertions: columns_assertions: add T* with_typed_column() overload
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_test_env: add batch type to execute_batch()
  test/boost/query_processor_test.cc
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: none

test/lib/cql_assertions: rows_assertions::assert_for_columns_of_row(): add index bound check
  test/lib/cql_assertions.cc
Owners: none

test/lib/cql_assertions: columns_assertions: add assert_for_columns_of_each_row()
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
