Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

test: flat_mutation_reader_test: test_reverse_reader_is_mutation_source: prepare for reading in reverse
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

mutation_writer: partition_based_splitting_writer: limit number of max buckets
  mutation_writer/partition_based_splitting_writer.cc
  mutation_writer/partition_based_splitting_writer.hh
  sstables/compaction.cc
  test/boost/mutation_writer_test.cc
  test/boost/sstable_datafile_test.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

build: bump build number for partition_based_splitting_writer: limit number of max buckets
  SCYLLA-VERSION-GEN
Owners: none

compaction: scrub/segregate: adjust partition-estimate as buckets accumulate
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

mutation_writer: partition_based_splitting_writer: erase old bucket if we fail to create replacement
  mutation_writer/partition_based_splitting_writer.cc
Owners: @tgrabiec, @haaawk

mutation_reader: queue_reader_handle: make abandoned() exception safe
  mutation_reader.cc
  mutation_reader.hh
Owners: @tgrabiec, @haaawk

build: bump build number for scrub bloom filter bloat reduction
  SCYLLA-VERSION-GEN
Owners: none

mutation_writer/partition_based_splitting_writer: create_bucket_for(): close bucket with max key
  mutation_writer/partition_based_splitting_writer.cc
Owners: @tgrabiec, @haaawk

mutation_writer/partition_based_splitting_writer: consume(partition_start): prefer bucket with largest key
  mutation_writer/partition_based_splitting_writer.cc
Owners: @tgrabiec, @haaawk

compaction_manager: Allow compaction to catch up with sstables produced by rewrite operation
  sstables/compaction_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

compaction: validate_sstables(): fix use-after-free of io_priority
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

partition_based_splitting_writer: Fix use-after-free
  mutation_writer/partition_based_splitting_writer.cc
Owners: @tgrabiec, @haaawk

WIP
  flat_mutation_reader.cc
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

schema_registry: remove get_frozen()
  schema_registry.cc
  schema_registry.hh
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

schema_registry: schema_registry_entry: add registry() accessor
  schema_registry.hh
Owners: @tgrabiec, @nyh

schema_builder: add constructors variants with a registry parameter
  schema.cc
  schema_builder.hh
Owners: @tgrabiec, @nyh

service: migration_manager: obtain schema registry from database
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

schema_registry: schema_registry_entry: prepare for multiple attached schemas
  schema.cc
  schema_registry.cc
  schema_registry.hh
Owners: @tgrabiec, @nyh

database: add _registry member
  database.cc
  database.hh
Owners: none

service: storage_proxy: obtain schema registry from database
  service/storage_proxy.cc
Owners: @gleb-cloudius

frozen_schema: make frozen_schema(const schema_ptr&) explicit
  frozen_schema.hh
Owners: none

Revert "schema: add get_reversed()"
  schema.cc
  schema.hh
  test/boost/schema_change_test.cc
Owners: @tgrabiec, @nyh

schema: add registry() getter
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

schema_registry_entry: abstract loading method
  schema_registry.cc
  schema_registry.hh
Owners: @tgrabiec, @nyh

schema_registry: add support for loading schemas with non-frozen loader
  schema_registry.cc
  schema_registry.hh
Owners: @tgrabiec, @nyh

schema_registry: be more lenient with tests
  schema_registry.cc
Owners: @tgrabiec, @nyh

schema: self-register when constructed
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

schema_registry: allow schemas to register themselves at creation time
  schema_registry.cc
  schema_registry.hh
Owners: @tgrabiec, @nyh

schema: make_shared_schema(): add overload with registry
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

schema_registry: make it a peering sharded service
  database.cc
  database.hh
  main.cc
  schema_registry.cc
  schema_registry.hh
  test/boost/gossip_test.cc
  test/lib/cql_test_env.cc
  tools/schema_loader.cc
Owners: @tgrabiec, @nyh

schema: make_reversed(): go through schema_registry::get_or_load()
  schema.cc
  test/boost/schema_change_test.cc
Owners: @tgrabiec, @nyh

schema_mutations: split into two classes
  db/batchlog_manager.cc
  frozen_schema.cc
  idl/frozen_schema.idl.hh
  schema_mutations.cc
  schema_mutations.hh
Owners: @elcallio, @tgrabiec, @nyh

db/system_keyspace: propagate registry to schema builder
  db/legacy_schema_migrator.cc
  db/schema_tables.cc
  db/schema_tables.hh
  db/size_estimates_virtual_reader.cc
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

schema_mutations: is_view() compare ids only
  schema_mutations.cc
Owners: @tgrabiec, @nyh

schema_registry: add out-of-line default constructor
  schema_registry.cc
  schema_registry.hh
Owners: @tgrabiec, @nyh

alternator: propagate registry to schema builder
  alternator/executor.cc
Owners: @nyh, @psarna

db/system_distributed_keyspace: propagate registry to schema builder
  db/system_distributed_keyspace.cc
Owners: none

schema: make registry constructor argument mandatory
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

test/lib: add convenience schema registry wrapper for tests
  test/lib/schema_registry.hh
Owners: @tgrabiec, @nyh

db/schema_tables: add views_id() method
  db/schema_tables.cc
  db/schema_tables.hh
Owners: @tgrabiec, @nyh
