Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

tools/utils.hh: make self-sufficient
  tools/utils.hh
Owners: none

tools
  configure.py
  tools/scylla-sstable.cc
  tools/scylla-types.cc
  tools/utils.cc
  tools/utils.hh
Owners: none

tools: utils: add configure_tool_mode()
  configure.py
  tools/scylla-sstable.cc
  tools/scylla-types.cc
  tools/utils.cc
  tools/utils.hh
Owners: none

tools: scylla-sstables: prepare dumping_consumer for multiple output formats
  tools/scylla-sstable.cc
Owners: none

tools: scylla-sstable: json support for dump operation
  tools/scylla-sstable.cc
Owners: none

mutation_reader: evictable_reader: add reverse read support
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

query-request: introduce `half_reverse_slice`
  query-request.hh
  query.cc
Owners: none

flat_mutation_reader_assertions: log what's expected
  test/lib/flat_mutation_reader_assertions.hh
Owners: @tgrabiec, @haaawk

flat_mutation_reader: make_flat_mutation_reader_from_fragments(): add reverse read support
  flat_mutation_reader.cc
Owners: @tgrabiec, @haaawk

flat_mutation_reader: flat_mutation_reader_from_mutations(): add reverse read support
  flat_mutation_reader.cc
Owners: @tgrabiec, @haaawk

apply [PATCH] position_in_partition: Introduce reversed() transformation
  position_in_partition.hh
Owners: none

sstable_set: time_series_sstable_set: reverse mode
  sstables/sstable_set.cc
  sstables/sstable_set_impl.hh
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @haaawk

test: flat_mutation_reader_test: test_reverse_reader_is_mutation_source: prepare for reading in reverse
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

db/virtual_table: streaming_virtual_table::as_mutation_source(): use query schema instead of table schema
  db/virtual_table.cc
Owners: none

treewide: move reversing to the mutation sources
  db/virtual_table.cc
  memtable.cc
  memtable.hh
  multishard_mutation_query.cc
  querier.hh
  row_cache.cc
  row_cache.hh
  sstables/sstable_set.cc
  sstables/sstables.cc
  test/boost/mutation_query_test.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

test: mutation_reader_test: test_manual_paused_evictable_reader_is_mutation_source: use query schema instead of table schema
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

mutlishard_mutation_query: set max result size on used permits
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

flat_mutation_reader: add convenience stored slice
  flat_mutation_reader.cc
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

test: mutation_reader_test: clustering_combined_reader_mutation_source_test: prepare for reading in reverse
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test: mutation_reader_test: reversed version of test_clustering_order_merger_sstable_set
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/lib: mutation_source_test: test reading in reverse
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

querier: consume_page(): remove now unused max_size parameter
  multishard_mutation_query.cc
  querier.hh
  table.cc
  test/boost/mutation_query_test.cc
  test/boost/querier_cache_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @tgrabiec, @haaawk

query-request: introduce `half_reverse_slice`
  query-request.hh
  query.cc
Owners: none

apply [PATCH] position_in_partition: Introduce reversed() transformation
  position_in_partition.hh
Owners: none

flat_mutation_reader_assertions: log what's expected
  test/lib/flat_mutation_reader_assertions.hh
Owners: @tgrabiec, @haaawk

flat_mutation_reader: flat_mutation_reader_from_mutations(): document preconditions
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

flat_mutation_reader: flat_mutation_reader_from_mutations(): add reverse read support
  flat_mutation_reader.cc
Owners: @tgrabiec, @haaawk

flat_mutation_reader: make_flat_mutation_reader_from_fragments(): add reverse read support
  flat_mutation_reader.cc
Owners: @tgrabiec, @haaawk

mutation_reader: evictable_reader: add reverse read support
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

flat_mutation_reader: make_reversing_reader(): add convenience stored slice
  flat_mutation_reader.cc
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

sstable_set: time_series_sstable_set: reverse mode
  sstables/sstable_set.cc
  sstables/sstable_set_impl.hh
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @haaawk

db/virtual_table: streaming_virtual_table::as_mutation_source(): use query schema instead of table schema
  db/virtual_table.cc
Owners: none

mutlishard_mutation_query: set max result size on used permits
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

mutation_query: reconcilable_result_builder: document reverse query preconditions
  mutation_query.hh
Owners: @tgrabiec, @haaawk

treewide: move reversing to the mutation sources
  db/virtual_table.cc
  memtable.cc
  memtable.hh
  multishard_mutation_query.cc
  querier.hh
  row_cache.cc
  row_cache.hh
  sstables/sstable_set.cc
  sstables/sstables.cc
  test/boost/mutation_query_test.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

test: mutation_reader_test: test_manual_paused_evictable_reader_is_mutation_source: use query schema instead of table schema
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/lib: mutation_source_test: test reading in reverse
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

test: mutation_reader_test: reversed version of test_clustering_order_merger_sstable_set
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

querier: consume_page(): remove now unused max_size parameter
  multishard_mutation_query.cc
  querier.hh
  table.cc
  test/boost/mutation_query_test.cc
  test/boost/querier_cache_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @tgrabiec, @haaawk

test: mutation_reader_test: clustering_combined_reader_mutation_source_test: prepare for reading in reverse
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
