Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

test/cql-pytest: add no_autocompaction_context
  test/cql-pytest/nodetool.py
Owners: none

fix test 2 - disable auto-compaction for system_schema ks
  test/cql-pytest/test_tools.py
Owners: none

fix fix 1
  test/cql-pytest/test_tools.py
Owners: none

tools/scylla-sstable: add single option
  tools/json_writer.hh
  tools/lua_sstable_consumer.cc
  tools/scylla-sstable.cc
Owners: none

sstables/mx/reader: template data_consume_rows_context_m on the consumer
  sstables/mx/reader.cc
Owners: none

mutation/mutation_fragment_stream_validator: add validator() accessor to validating filter
  mutation/mutation_fragment_stream_validator.hh
Owners: @tgrabiec, @haaawk

mutation_fragment_stream_validator: produce error messages in low-level validator
  mutation/mutation_fragment_stream_validator.hh
  readers/mutation_reader.cc
  test/boost/mutation_fragment_test.cc
Owners: @tgrabiec, @haaawk

tools/scylla-sstables: write validation result to stdout
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: move away from scrub_validate_mode_validate_reader()
  tools/scylla-sstable.cc
Owners: none

sstables/mx/reader: add mx specific validator
  sstables/mx/reader.cc
  sstables/mx/reader.hh
Owners: none

compaction/compaction: scrub_sstables_validate_mode(): validate sstables one-by-one
  compaction/compaction.cc
Owners: none

sstables/mx/reader: use data_consumer::proceed directly
  sstables/mx/reader.cc
Owners: none

sstables/sstable: add validate() method
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/mx/reader.cc: extend namespace to end-of-file (cosmetic)
  sstables/mx/reader.cc
Owners: none

compaction: scrub: use error messages from validator
  compaction/compaction.cc
Owners: none

compaction/compaction: move away from scrub_validate_mode_validate_reader()
  compaction/compaction.cc
Owners: none

test/boost/sstable_compaction_test: move away from scrub_validate_mode_validate_reader()
  test/boost/sstable_compaction_test.cc
Owners: none

sstables/mx/reader: move row_processing_result to namespace scope
  sstables/mx/reader.cc
Owners: none

compaction/compaction: remove now unused scrub_validate_mode_validate_reader()
  compaction/compaction.cc
  compaction/compaction.hh
Owners: none

sstables/sstable: validate(): delegate to mx validator for mx sstables
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

test/cql-pytest: test_tools.py: add test for sstable validation
  test/cql-pytest/test_tools.py
Owners: none

db/hints/manager: store_hint(): migrate to node*
  db/hints/manager.cc
  db/hints/manager.hh
  service/storage_proxy.cc
Owners: @haaawk, @piodul, @vladzcloudius, @gleb-cloudius

db/hints/manager: calculate_current_sync_point(): migrage to node*
  db/hints/manager.cc
  db/hints/manager.hh
  service/storage_proxy.cc
Owners: @haaawk, @piodul, @vladzcloudius, @gleb-cloudius

db/hints/manager: too_many_hints_in_flight(): migrage to node*
  db/hints/manager.cc
  db/hints/manager.hh
  service/storage_proxy.cc
Owners: @haaawk, @piodul, @vladzcloudius, @gleb-cloudius

db/hints/manager: can_hint_for(): migrage to node*
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: drain_for(): migrage to node*
  db/hints/manager.cc
  db/hints/manager.hh
  service/storage_proxy.cc
Owners: @haaawk, @piodul, @vladzcloudius, @gleb-cloudius

locator: add topology_fwd.hh
  locator/topology_fwd.hh
Owners: none

db/hints/host_filter: migrage to node*
  db/hints/host_filter.cc
  db/hints/host_filter.hh
  db/hints/manager.cc
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: migrate internal containers to node*
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: get_ep_manager(): migrate to node*
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: check_dc_for(): migrate to node*
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: find_ep_manager(): migrate to node*
  db/hints/manager.cc
  db/hints/manager.hh
  db/hints/resource_manager.cc
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: has_ep_with_pending_hits(): migrate to node*
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints: ensure_created_and_verified(): log message before action
  db/hints/manager.cc
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: cleanup code after recent refactorings
  db/hints/manager.cc
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/resource_manager: migrate to node*
  db/hints/resource_manager.cc
  db/hints/resource_manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: end_point_hints_manager: migrate to node*
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: add topology accessor
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: have_ep_manager(): migrate to node*
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: add_ep_with_pending_hits(): migrate to node*
  db/hints/manager.hh
  db/hints/resource_manager.cc
Owners: @haaawk, @piodul, @vladzcloudius
