Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

test
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

evictable_reader: relax partition key check on reader recreation
  mutation_reader.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

evictable_reader: simplify do_fill_buffer()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

evictable_reader: relax partition key check on reader recreation
  mutation_reader.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

evictable_reader: maybe_validate_partition_start -> validate_partition_start
  mutation_reader.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

sstables/compaction: implement validation compaction type
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction: compaction_options::type(): add static assert for size of index_to_type
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: run_custom_job(): keep job function alive
  sstables/compaction_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: add perform_sstable_validation()
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_descriptor: compaction_options: add validation compaction type
  sstables/compaction.cc
  sstables/compaction_descriptor.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: run_custom_job(): replace parameter name with compaction type
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
  sstables/sstable_directory.cc
Owners: @tgrabiec, @raphaelsc, @nyh

api: storage_service: expose validation compaction
  api/api-doc/storage_service.json
  api/storage_service.cc
Owners: none

test/boost/sstable_datafile_test: scrub tests: extract corrupt sst writer code into function
  test/boost/sstable_datafile_test.cc
Owners: none

test/boost/sstable_datafile_test: add test for validation compaction
  test/boost/sstable_datafile_test.cc
Owners: none

sstables/compaction_manager: drop _scheduling_group field
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: add maintenance scheduling group
  database.cc
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: rewrite_sstables(): resolve maintenance group FIXME
  sstables/compaction_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: add perform_sstable_validation()
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

test/boost/sstable_datafile_test: scrub tests: extract corrupt sst writer code into function
  test/boost/sstable_datafile_test.cc
Owners: none

api: storage_service: expose validation compaction
  api/api-doc/storage_service.json
  api/storage_service.cc
Owners: none

test/boost/sstable_datafile_test: add test for validation compaction
  test/boost/sstable_datafile_test.cc
Owners: none

reader_concurrency_semaphore: remove default name parameter
  database.cc
  reader_concurrency_semaphore.hh
  sstables/sstables.cc
  test/lib/reader_lifecycle_policy.hh
  test/lib/reader_permit.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables: generate_summary(): make it a coroutine
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables: generate_summary(): fix indentation
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables: sstable::has_partition_key(): convert to coroutine
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables: stop semaphores
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

test/boost/sstable_test: test_using_reusable_sst(): pass env to func
  test/boost/sstable_test.cc
Owners: none

mutation_writer: multishard_writer: migrate off the global reader concurrency semaphore
  mutation_writer/multishard_writer.cc
Owners: @tgrabiec, @haaawk

memtable: migrate off the global reader concurrency semaphore
  memtable-sstable.hh
  memtable.cc
  memtable.hh
  table.cc
  test/boost/memtable_test.cc
Owners: none

test/boost/sstable_test: migrate row counting tests to seastar thread
  test/boost/sstable_test.cc
Owners: none

sstables: mx/writer: migrate off the global reader concurrency_semaphore
  sstables/mx/writer.cc
Owners: none

test/lib/reader_lifecycle_policy: add permit parameter to factory function
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_reader_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

test/boost/mutation_reader_test: share permit between readers in a read
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/lib: add reader_concurrency_semaphore.hh
  test/lib/reader_concurrency_semaphore.hh
Owners: none

test/perf: migrate off the global test reader semaphore
  test/perf/logalloc.cc
  test/perf/memory_footprint_test.cc
  test/perf/perf_fast_forward.cc
  test/perf/perf_idl.cc
  test/perf/perf_mutation_fragment.cc
  test/perf/perf_mutation_readers.cc
  test/perf/perf_row_cache_reads.cc
  test/perf/perf_row_cache_update.cc
  test/perf/perf_sstable.hh
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: assert(_stopped) in the destructor
  reader_concurrency_semaphore.cc
Owners: none

test/lib/cql_test_env: add make_reader_permit()
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: none

test/lib/test_services: migrate off the global test reader semaphore
  test/boost/mutation_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_datafile_test.cc
  test/boost/sstable_resharding_test.cc
  test/lib/test_services.cc
  test/lib/test_services.hh
  test/perf/perf_sstable.hh
Owners: @tgrabiec, @haaawk

test/unit: migrate off the global test reader semaphore
  test/unit/row_cache_alloc_stress_test.cc
  test/unit/row_cache_stress_test.cc
Owners: @tgrabiec, @haaawk
