Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

scripts/pull_github_pr.sh: don't use POST requests with github API
  scripts/pull_github_pr.sh
Owners: none

storage_service: Abort restore_replica_count when node is removed from the cluster
  service/storage_service.cc
Owners: @tgrabiec, @asias

utils/utf8.c: move includes outside of namespaces
  utils/utf8.cc
Owners: none

Introduce experimental modules support
  configure.py
  external_modules/boost.modulemap
  external_modules/std.modulemap
Owners: none

release: prepare for 2021.1.1
  SCYLLA-VERSION-GEN
  dist/docker/redhat/Dockerfile
Owners: none

mutation_reader: reader_lifcecycle_policy::destroy_reader(): remove out-of-date comment
  mutation_reader.hh
Owners: @tgrabiec, @haaawk

mutation_reader: shard_reader::close(): wait on the remote reader
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

mutation_reader: reader_lifecycle_policy::destroy_reader(): de-futurize reader parameter
  database.cc
  multishard_mutation_query.cc
  mutation_reader.cc
  mutation_reader.hh
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

reader_lifecycle_policy implementations: fix indentation
  database.cc
  multishard_mutation_query.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

reader_permit: introduce evicted state
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

flat_mutation_reader: mark permit as used when reader is used
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

reader_permit: allow marking it as used
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: add permit-stats
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: extract waiter admission into separate function
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: add reader_permit_opt
  reader_permit.hh
Owners: none

reader_permit: add/remove permit to permit list in impl constructor
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

mutation_reader: shard_reader: mark underlying permit as used
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

mutation_reader: foreign_reader: mark permit as blocked when waiting on remote shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

database: add obtain_reader_permit()
  database.cc
  database.hh
Owners: none

test: continuous_data_consumer_test: mark permit as used
  test/boost/continuous_data_consumer_test.cc
Owners: none

database: make_multishard_streaming_reader: use external permit
  database.cc
  database.hh
  repair/row_level.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @asias, @nyh, @haaawk

mutation_reader: shard_reader: coroutinize fill_buffer() and fast_forward_to()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

view/view_update_generator: use obtain_reader_permit()
  db/view/view_update_generator.cc
Owners: @nyh, @psarna

reader_concurrency_semaphore: make_permit(): add up-front admission variants
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: allow constructing reader_permit from impl&
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

mutation_reader: shard_reader: mark permit as blocked when waiting on remote shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

database: make_streaming_reader(): require permit
  database.cc
  database.hh
  repair/row_level.cc
  service/storage_service.cc
  streaming/stream_transfer_task.cc
  table.cc
Owners: @tgrabiec, @asias, @nyh

sstables: continuous_data_consumer: mark permit as blocked when doing IO
  sstables/consumer.hh
Owners: @tgrabiec, @raphaelsc, @nyh

db/size_estimates_virtual_reader: mark as blocked when obtaining local ranges
  db/size_estimates_virtual_reader.cc
Owners: none

streaming/stream_session: use database::obtain_reader_permit()
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

mutation_reader: reader_lifecycle_policy: add obtain_reader_permit()
  database.cc
  multishard_mutation_query.cc
  mutation_reader.hh
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

reader_permit: allow marking blocked
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_permit: prepare for up-front admission
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

multishard_mutation_query: use the passed-in permit to create new reader
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

table: add estimate_read_memory_cost()
  database.hh
  table.cc
Owners: none

repair/row_level: use database::obtain_reader_permit()
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

mutation_reader: shard reader: use reader_lifecycle_policy::obtain_reader_permit()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

table: query: use obtain_permit()
  table.cc
Owners: none

table: mutation_query(): use obtain_permit()
  table.cc
Owners: none

test: mutation_reader_test: remove restricted reader tests
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
