Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

db/schema_tables: schema_ctxt: add test-only convenience constructor
  db/schema_tables.cc
  db/schema_tables.hh
Owners: @tgrabiec, @nyh

db/schema_tables: add convenience generate_schema_version() overload
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

cql3: propagate registry to schema_builder
  cql3/statements/create_table_statement.cc
  cql3/statements/create_view_statement.cc
Owners: @nyh, @psarna

schema_registry: fold init() into the constructor
  database.cc
  main.cc
  schema_registry.cc
  schema_registry.hh
  test/boost/gossip_test.cc
  test/lib/cql_test_env.cc
  test/lib/mutation_source_test.cc
  test/lib/schema_registry.hh
  tools/schema_loader.cc
Owners: @tgrabiec, @nyh, @haaawk

schema_registry: global_schema_ptr: obtain registry from registry entry
  schema_registry.cc
Owners: @tgrabiec, @nyh

schema_registry: global_schema_ptr: exploit all schemas being in the registry
  schema_registry.cc
Owners: @tgrabiec, @nyh

db/schema_tables: propagate registry to schema builder
  cdc/log.cc
  db/legacy_schema_migrator.cc
  db/schema_tables.cc
  db/schema_tables.hh
  db/system_keyspace.cc
  frozen_schema.cc
  frozen_schema.hh
  schema_mutations.cc
  schema_mutations.hh
  schema_registry.cc
  service/client_state.cc
  service/migration_manager.cc
  test/boost/schema_change_test.cc
  tools/schema_loader.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @nyh

schema_registry: add context getter
  schema_registry.hh
Owners: @tgrabiec, @nyh

db/legacy_schema_migrator: propagate registry to schema builder
  db/legacy_schema_migrator.cc
Owners: @tgrabiec, @nyh

test/lib: reader_concurrency_semaphore: add support for wrapping non-owned semaphore
  test/lib/reader_concurrency_semaphore.hh
Owners: none

test/lib: mutation_source_test: add entry log to run_mutation_source_tests_* variants
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

thrift: propagate registry to schema_builder
  thrift/handler.cc
Owners: none

schema_registry: retire learn()
  database.cc
  schema_registry.cc
  schema_registry.hh
Owners: @tgrabiec, @nyh

cdc: propagate registry to schema builder
  cdc/log.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

redis: propagate registry to schema builder
  redis/keyspace_utils.cc
Owners: none

schema_registry: remove now unused local_schema_registry()
  main.cc
  schema_registry.cc
  schema_registry.hh
  test/boost/gossip_test.cc
  test/lib/cql_test_env.cc
  tools/schema_loader.cc
Owners: @tgrabiec, @nyh

test/lib: mutation_source_test: support obtaining the semaphore from cql_test_env
  test/lib/mutation_source_test.cc
  test/lib/mutation_source_test.hh
Owners: @tgrabiec, @haaawk

test/boost: mutation_reader_test: test_multishard_combining_reader_non_strictly_monotonic_positions: expand scope of do_with_cql_env_thread
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

index/secondary_index_manager: propagate registry to schema builder
  index/secondary_index_manager.cc
Owners: none

schema_builder: remove the now unused constructors
  schema.cc
  schema_builder.hh
Owners: @tgrabiec, @nyh

test/boost: schema_registry_test: propagate registry to schema builder
  test/boost/schema_registry_test.cc
Owners: @tgrabiec, @nyh

schema: remove now unused make_shared_schema() overload
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

schema: registry_entry(),registry(): return references
  cdc/log.cc
  database.cc
  db/schema_tables.cc
  index/secondary_index_manager.cc
  schema.cc
  schema.hh
  schema_registry.cc
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
  test/boost/sstable_test.cc
  test/lib/simple_schema.hh
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @nyh

main: extract scylla specific code into scylla_main()
  main.cc
Owners: none

main: add skeleton switching code on argv[0]
  main.cc
Owners: none

tools: prepare for inclusion in scylla's main
  tools/entry_point.hh
  tools/scylla-sstable.cc
  tools/scylla-types.cc
Owners: none

tools/launcher.sh: configure seastar to be less intrusive
  tools/launcher.sh
Owners: none

main,tools,configure.py: fold tools into scylla exec
  configure.py
  main.cc
  tools/scylla-sstable.cc
  tools/scylla-types.cc
Owners: none

configure.py: add support for tool execs being hosted by scylla main exec
  configure.py
  tools/launcher.sh
Owners: none

main: extract scylla specific code into scylla_main()
  main.cc
Owners: none

main: add skeleton switching code on argv[0]
  main.cc
Owners: none

tools: prepare for inclusion in scylla's main
  tools/entry_point.hh
  tools/scylla-sstable.cc
  tools/scylla-types.cc
Owners: none

configure.py: add support for tool execs being hosted by scylla main exec
  configure.py
  tools/launcher.sh
Owners: none

main,tools,configure.py: fold tools into scylla exec
  configure.py
  main.cc
  tools/scylla-sstable.cc
  tools/scylla-types.cc
Owners: none

tools/launcher.sh: configure seastar to be less intrusive
  tools/launcher.sh
Owners: none

test/boost/mutation_reader_test: clustering_combined_reader_mutation_source_test: fix end bound calculation
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

flat_mutation_reader_v2: add v2 version of empty reader
  flat_mutation_reader.cc
  flat_mutation_reader_v2.hh
Owners: @tgrabiec, @haaawk

mutation_reader: combined_reader: attach stream_id to mutation_fragments
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

mutation_reader: convert combined reader to v2
  mutation_reader.cc
  mutation_reader.hh
Owners: @tgrabiec, @haaawk

mutation_reader: combined_reader: convert reader_selector to v2
  mutation_reader.cc
  mutation_reader.hh
  sstables/sstable_set.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
