Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

schema: add nonmaterialized-view related fields
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
Owners: @tgrabiec, @nyh

schema/schema: add raw_nonmaterialized_view_info
  schema/schema.cc
  schema/schema.hh
Owners: @tgrabiec, @nyh

add nonmaterialized_view_info
  db/view/view.cc
  nonmaterialized_view_info.hh
Owners: @nyh, @psarna

cql3: statements: add nonmaterialized_view_select_statement
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none

view: Add DROP VIEW support
  cql3/Cql.g
  cql3/statements/drop_view_statement.cc
  cql3/statements/drop_view_statement.hh
  db/schema_tables.cc
  db/schema_tables.hh
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @tgrabiec, @penberg, @psarna, @nyh

service: add query_nonmaterialized_view
  configure.py
  service/query_nonmaterialized_view.cc
  service/query_nonmaterialized_view.hh
Owners: none

test/pylib: add test_nonmaterialized_view.py
  schema/schema.cc
  test/cqlpy/test_nonmaterialized_view.py
  test/cqlpy/util.py
Owners: @tgrabiec, @nyh

RFC: Alternative option to use schema_tables::views()
  cql3/statements/create_view_statement.cc
  db/schema_tables.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  view_info.hh
Owners: @nyh, @psarna, @tgrabiec

cql: Add NONMATERIALIZED key
  cql3/Cql.g
Owners: @tgrabiec, @penberg, @psarna

test: Fix fstring
  test/cqlpy/test_nonmaterialized_view.py
Owners: none

cql: use is_nonmaterialized_view for DROP NONMATERIALIZED VIEW
  cql3/statements/drop_view_statement.cc
  service/migration_manager.cc
Owners: @nyh, @psarna, @tgrabiec

test_nonmaterialized_view.py: Add more debug print
  test/cqlpy/test_nonmaterialized_view.py
  test/cqlpy/util.py
Owners: none

Revert "RFC: Alternative option to use schema_tables::views()"
  cql3/statements/create_view_statement.cc
  db/schema_tables.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  view_info.hh
Owners: @nyh, @psarna, @tgrabiec

Introduce schema_tables::nonmaterialized_views()
  data_dictionary/data_dictionary.cc
  db/schema_tables.cc
  db/schema_tables.hh
  frozen_schema.cc
  nonmaterialized_view_info.hh
  replica/database.cc
  schema/schema.hh
  schema_mutations.cc
  schema_mutations.hh
  service/migration_manager.cc
  service/migration_manager.hh
  service/storage_service.cc
Owners: @tgrabiec, @nyh, @asias

HACK: Make CREATE MATERIALIZED VIEW to create NONMATERIALIZED VIEW
  cql3/statements/create_view_statement.cc
  schema/schema.hh
Owners: @nyh, @psarna, @tgrabiec

Revert hack for create_view_statement
  cql3/statements/create_view_statement.cc
Owners: @nyh, @psarna

schema,service,test: remove nonmaterialized view create hack
  schema/schema.cc
  service/query_nonmaterialized_view.cc
  test/cqlpy/util.py
Owners: @tgrabiec, @nyh

Create Statement WIP
  cql3/CMakeLists.txt
  cql3/Cql.g
  cql3/statements/create_nonmaterialized_view_statement.hh
  cql3/statements/create_view_statement.cc
  db/schema_tables.cc
  nonmaterialized_view_info.hh
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  validation.cc
Owners: @tgrabiec, @penberg, @psarna, @nyh

Create Statement WIP2 - add missing .cc file
  cql3/statements/create_nonmaterialized_view_statement.cc
Owners: @nyh, @psarna

Create Statement WIP2 - update configure.py
  configure.py
Owners: none

Fix CREATE NONMATERIALIZED VIEW
  cql3/Cql.g
Owners: @tgrabiec, @penberg, @psarna

Wire nonmaterialized view into schema applier
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
Owners: @tgrabiec, @nyh

test/cqlpy/test_nonmaterialized_view: extend test with single partition cases
  test/cqlpy/test_nonmaterialized_view.py
Owners: none

schema_tables.cc: fix compile error
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

Use nonmaterialized_view_info for drop
  cql3/statements/drop_view_statement.cc
  service/migration_manager.cc
Owners: @nyh, @psarna, @tgrabiec

schema_mutations: add is_nonmaterialized_view to wire representation
  idl/frozen_schema.idl.hh
  schema_mutations.cc
  schema_mutations.hh
Owners: @tgrabiec, @nyh

migration_manager: Use make_drop_non_materialized_view_mutations for drop
  db/schema_tables.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh

test: Add test_drop_nonmaterialized_view test
  test/cqlpy/test_nonmaterialized_view.py
  test/cqlpy/util.py
Owners: none

Create Statement WIPN - Use correct column types
  cql3/statements/create_nonmaterialized_view_statement.cc
Owners: @nyh, @psarna

test/clqpy/test_nonmaterialized_view: fix the newly added asserts
  test/cqlpy/test_nonmaterialized_view.py
Owners: none

test: add some nonmaterialized view tests
  test/cqlpy/test_nonmaterialized_view.py
Owners: none

Support "CREATE NONMATERIALIZED VIEW ... SELECT * FROM ..."
  cql3/statements/create_nonmaterialized_view_statement.cc
  db/schema_tables.cc
  schema/schema.cc
Owners: @nyh, @psarna, @tgrabiec

tombstone_gc: introduce tombstone_gc_before_getter
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

mutation/mutation_compactor: add tombstone_gc_state to query ctor
  db/view/view.cc
  multishard_mutation_query.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
  replica/mutation_dump.cc
  replica/table.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

compaction/table_state: add get_tombstone_gc_before_getter()
  compaction/compaction.cc
  compaction/table_state.hh
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: none

mutation/mutation_compactor: migrate to tombstone_gc_before_getter
  compaction/compaction.cc
  db/view/view.cc
  multishard_mutation_query.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
  readers/compacting.hh
  readers/mutation_readers.cc
  replica/mutation_dump.cc
  replica/table.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_another_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/boost/sstable_compaction_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

db/view/view: migrate to tombstone_gc_before_getter
  db/view/view.cc
Owners: @nyh, @psarna

mutation/mutation: migrate to tombstone_gc_before_getter
  mutation/mutation.cc
  mutation/mutation_partition.cc
  mutation/mutation_partition.hh
  test/boost/memtable_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/mutation_writer_test.cc
  test/lib/mutation_assertions.hh
  test/lib/mutation_reader_assertions.hh
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

sstables/sstables: migrate to tombstone_gc_before_getter
  compaction/compaction.cc
  compaction/compaction_strategy.cc
  compaction/incremental_compaction_strategy.cc
  compaction/leveled_compaction_strategy.cc
  sstables/sstable_set.cc
  sstables/sstable_set.hh
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/incremental_compaction_test.cc
  test/boost/sstable_compaction_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh

compaction/compaction: rm get_tombstone_gc_state()
  compaction/compaction.cc
Owners: none
