Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

replica/table: use v2 variant of reversing reader
  replica/table.cc
Owners: none

test: move away from v1 reader from mutations
  test/boost/flat_mutation_reader_test.cc
  test/boost/frozen_mutation_test.cc
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/querier_cache_test.cc
  test/boost/row_cache_test.cc
  test/lib/fragment_scatterer.hh
Owners: @tgrabiec, @haaawk

db/virtual_table: use v2 variant of reversing and forwardable readers
  db/virtual_table.cc
Owners: none

replica/table: remove v1 reader factory methods
  replica/database.hh
  replica/table.cc
Owners: none

row_cache: return v2 readers from make_reader*()
  replica/table.cc
  row_cache.cc
  row_cache.hh
  test/boost/cache_flat_mutation_reader_test.cc
  test/boost/row_cache_test.cc
  test/boost/sstable_conforms_to_mutation_source_test.cc
  test/perf/perf_row_cache_reads.cc
  test/perf/perf_row_cache_update.cc
  test/unit/row_cache_stress_test.cc
Owners: @tgrabiec, @haaawk

readers/delegating_v2: s/make_delegating_reader_v2/make_delegating_reader/
  readers/delegating_v2.hh
  readers/mutation_readers.cc
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

read_context: coroutinize move_to_next_partition()
  read_context.hh
Owners: none

row_cache: cache_entry::read(): return v2 reader
  row_cache.cc
  row_cache.hh
Owners: @tgrabiec, @haaawk

row_cache: convert cache readers to v2
  cache_flat_mutation_reader.hh
  range_tombstone_change_generator.hh
  read_context.hh
  row_cache.cc
  row_cache.hh
Owners: @tgrabiec, @haaawk

WIP
  cache_flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

read_context: fix indentation
  read_context.hh
Owners: none

readers: extract range tombstone merger into own header
  readers/combined.cc
  readers/range_tombstone_change_merger.hh
Owners: none

readers/nonforwardable: convert to v2
  readers/mutation_readers.cc
  readers/nonforwardable.hh
  row_cache.cc
Owners: @tgrabiec, @haaawk

readers/range_tombstone_change_merger: allow uint64_t stream ids
  readers/range_tombstone_change_merger.hh
Owners: none

WIP
  cache_flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

WIP
  cache_flat_mutation_reader.hh
  range_tombstone_change_generator.hh
Owners: @tgrabiec, @haaawk

scylla-types: add intersect-ranges
  tools/scylla-types.cc
Owners: none

mutation_fragment_v2: range_tombstone_change: add minimal_memory_usage()
  mutation_fragment_v2.hh
Owners: @tgrabiec, @haaawk

partition_snapshot_reader: convert implementation to native v2
  partition_snapshot_reader.hh
  replica/memtable.cc
Owners: none

sstables: move mp_row_consumer_reader_k_l to kl/reader.cc
  sstables/kl/reader.cc
  sstables/sstable_mutation_reader.cc
  sstables/sstable_mutation_reader.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/kl: return v2 reader from factory methods
  sstables/kl/reader.cc
  sstables/kl/reader.hh
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/kl: make reader impl v2 native
  sstables/kl/reader.cc
Owners: none

readers: remove v1 delegating_reader
  readers/delegating.hh
  readers/mutation_readers.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

readers: remove v1 empty_reader
  readers/empty.hh
  readers/mutation_readers.cc
  repair/row_level.cc
  row_cache.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk, @asias, @nyh

readers: remove v1 forwardable reader
  readers/forwardable.hh
  readers/mutation_readers.cc
  test/boost/flat_mutation_reader_test.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/lib/mutation_source_test: remove upgrade_to_v2 tests
  test/boost/database_test.cc
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/lib/mutation_source_test.cc
  test/lib/mutation_source_test.hh
Owners: @tgrabiec, @haaawk

readers: make upgrade_to_v2() private
  readers/conversion.hh
  readers/flat_mutation_reader.hh
  readers/mutation_readers.cc
  readers/mutation_source.hh
Owners: @tgrabiec, @haaawk

mutation_compactor: add last_clustering_pos() accessor
  mutation_compactor.hh
Owners: @tgrabiec, @haaawk

service/paging: use position_in_partition instead of clustering_key for last row
  idl/paging_state.idl.hh
  service/pager/paging_state.cc
  service/pager/paging_state.hh
  service/pager/query_pager.hh
  service/pager/query_pagers.cc
Owners: none

sstables/compress: inject checksum validation into write pipeline
  sstables/compress.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/integrity_checked_file: use on_internal_error for error reporting
  sstables/integrity_checked_file_impl.cc
Owners: @tgrabiec, @raphaelsc, @nyh

add additional information to error message
  SCYLLA-VERSION-GEN
  sstables/integrity_checked_file_impl.cc
Owners: @tgrabiec, @raphaelsc, @nyh

scylla-gdb.py: make scylla-threads more flexible
  scylla-gdb.py
Owners: none

cdc/log.hh: expose is_log_name()
  cdc/log.cc
  cdc/log.hh
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

tools/schema_loader: add support for CDC tables
  tools/schema_loader.cc
Owners: @tgrabiec, @nyh

utils/logalloc: add tracker member to basic_region_impl
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

utils/logalloc: pass down tracker::impl reference to segment_pool
  utils/logalloc.cc
Owners: @tgrabiec

utils/logalloc: add tracker& member to region_group
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

utils/logalloc: make segment independent of segment pool
  utils/logalloc.cc
Owners: @tgrabiec

utils/logalloc: tracker_reclaimer_lock: get shard tracker via constructor arg
  utils/logalloc.cc
Owners: @tgrabiec

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
