Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

schema_tables: allow custom predicates in schema digest calc
  db/schema_tables.cc
  db/schema_tables.hh
Owners: @tgrabiec, @nyh

cdc: Don't add delay to the timestamp of the first generation
  service/storage_service.cc
Owners: @tgrabiec, @asias

cdc: use chunked_vector for streams in streams_version
  cdc/generation.hh
  db/system_distributed_keyspace.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

system distributed keyspace: Start sharded service earlier
  main.cc
  service/storage_service.cc
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

system_keyspace: migrate helper functions to string_view
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.cc
  cql3/statements/modification_statement.cc
  cql3/statements/select_statement.cc
  database.hh
  db/system_keyspace.hh
  distributed_loader.cc
Owners: none

alternator::streams: Make describe_stream use actual log ttl as window
  alternator/streams.cc
Owners: @nyh, @psarna

sys_dist_ks: split CDC streams table partitions into clustered rows
  alternator/streams.cc
  cdc/generation.cc
  db/system_distributed_keyspace.cc
  db/system_distributed_keyspace.hh
  docs/cdc.md
  service/client_state.cc
  test/boost/cdc_test.cc
Owners: @nyh, @psarna, @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

cdc: introduce no_generation_data_exception exception type
  cdc/generation.cc
  cdc/generation.hh
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

cdc: futurize do_update_streams_descriptions
  cdc/generation.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

cdc: add config option to disable streams rewriting
  cdc/generation.cc
  db/config.cc
  db/config.hh
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

cdc: rewrite streams to the new description table
  cdc/generation.cc
  cdc/generation.hh
  db/system_distributed_keyspace.cc
  db/system_distributed_keyspace.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
  docs/cdc.md
  service/storage_service.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @asias

docs: cdc: mention system.cdc_local table
  docs/cdc.md
Owners: none

cql3: query_processor: improve internal paged query API
  cql3/query_processor.cc
  cql3/query_processor.hh
  db/system_keyspace.cc
  test/boost/query_processor_test.cc
Owners: @tgrabiec, @penberg, @psarna

cdc: remove _token_metadata from db_context
  cdc/log.cc
  cdc/log.hh
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

sys_dist_ks: update comment at quorum_if_many
  db/system_distributed_keyspace.cc
Owners: none

tests: add a simple CDC cql pytest
  test/cql-pytest/test_cdc.py
Owners: none

storage_service, cdc: create CDC generations during bootstrap and restart only if the CDC feature is enabled
  cdc/generation.cc
  cdc/generation.hh
  service/storage_service.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @asias

storage_service: handle missing generation case in check_and_repair_cdc_streams
  service/storage_service.cc
Owners: @tgrabiec, @asias

cdc: get rid of "get_local_streams_timestamp"
  cdc/generation.cc
  cdc/generation.hh
  service/storage_service.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @asias

sys_dist_ks: remove dead code (expire_cdc_* functions)
  db/system_distributed_keyspace.cc
  db/system_distributed_keyspace.hh
Owners: none

system_distributed_keyspace: Add better routine to get latest cdc gen. timestamp
  db/system_distributed_keyspace.cc
  db/system_distributed_keyspace.hh
Owners: none

cdc: log a message when creating a new CDC generation
  cdc/generation.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

storage_service: check_and_repair_cdc_streams: fix indentation
  service/storage_service.cc
Owners: @tgrabiec, @asias

alternator::streams: Use better method for generation timestamp
  alternator/streams.cc
Owners: @nyh, @psarna

system_distributed_keyspace: Fix cdc_get_versioned_streams timestamp range
  db/system_distributed_keyspace.cc
Owners: none

storage_service: simplify CDC generation management during node replace
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

reader_concurrency_semaphore: extract waiter admission into separate function
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: add/remove permit to permit list in impl constructor
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: add permit-stats
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: introduce evicted state
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_permit: add reader_permit_opt
  reader_permit.hh
Owners: none

reader_permit: allow marking it as used
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

db/size_estimates_virtual_reader: mark as blocked when obtaining local ranges
  db/size_estimates_virtual_reader.cc
Owners: none

reader_permit: allow constructing reader_permit from impl&
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: make_permit(): add up-front admission variants
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

mutation_reader: shard_reader: mark permit as blocked when waiting on remote shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

reader_permit: prepare for up-front admission
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

test: continuous_data_consumer_test: mark permit as used
  test/boost/continuous_data_consumer_test.cc
Owners: none

sstables: continuous_data_consumer: mark permit as blocked when doing IO
  sstables/consumer.hh
Owners: @tgrabiec, @raphaelsc, @nyh

mutation_reader: shard_reader: coroutinize fill_buffer() and fast_forward_to()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
