Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

test/lib/simple_schema: migrate off the global test reader semaphore
  test/boost/flat_mutation_reader_test.cc
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/sstable_datafile_test.cc
  test/lib/simple_schema.hh
  test/perf/perf_idl.cc
  test/perf/perf_mutation_fragment.cc
  test/perf/perf_mutation_readers.cc
Owners: @tgrabiec, @haaawk

test/lib/sstable_utils: migrate off the global test reader semaphore
  test/boost/broken_sstable_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_datafile_test.cc
  test/boost/sstable_test.cc
  test/lib/sstable_utils.hh
  test/perf/perf_sstable.hh
Owners: none

test/lib: migrate off the global test reader semaphore
  test/lib/cql_test_env.cc
  test/lib/index_reader_assertions.hh
  test/lib/memtable_snapshot_source.hh
  test/lib/mutation_source_test.cc
  test/lib/normalizing_reader.cc
  test/lib/sstable_utils.cc
  test/lib/sstable_utils.hh
Owners: @tgrabiec, @haaawk

test/lib: remove now unused reader_permit.{hh,cc}
  configure.py
  test/lib/reader_permit.cc
  test/lib/reader_permit.hh
Owners: none

test/manual: migrate off the global test reader semaphore
  test/manual/enormous_table_scan_test.cc
Owners: none

test/boost: migrate off the global test reader semaphore
  test/boost/broken_sstable_test.cc
  test/boost/cache_flat_mutation_reader_test.cc
  test/boost/cached_file_test.cc
  test/boost/commitlog_test.cc
  test/boost/continuous_data_consumer_test.cc
  test/boost/database_test.cc
  test/boost/flat_mutation_reader_test.cc
  test/boost/frozen_mutation_test.cc
  test/boost/memtable_test.cc
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/mutation_writer_test.cc
  test/boost/mvcc_test.cc
  test/boost/row_cache_test.cc
  test/boost/schema_changes_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_conforms_to_mutation_source_test.cc
  test/boost/sstable_datafile_test.cc
  test/boost/sstable_mutation_test.cc
  test/boost/sstable_resharding_test.cc
  test/boost/sstable_set_test.cc
  test/boost/sstable_test.cc
  test/boost/view_build_test.cc
  test/lib/sstable_utils.hh
Owners: @tgrabiec, @haaawk, @nyh

test/lib/sstable_test_env: add reader_concurrency_semaphore member
  test/lib/sstable_test_env.hh
Owners: none

position_in_paritition{_view}: add has_key()
  position_in_partition.hh
Owners: none

mutation_fragment_stream_validator: add schema() accessor
  flat_mutation_reader.cc
  mutation_fragment_stream_validator.hh
Owners: @tgrabiec, @haaawk

release: prepare for 2021.1.3
  SCYLLA-VERSION-GEN
  dist/docker/redhat/Dockerfile
Owners: none

sstables/compaction: scrub_compaction: extract reporting code into static methods
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction: extract sstable list formatting to a class
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

test/boost/sstable_datafile_test: scrub tests: extract corrupt sst writer code into function
  test/boost/sstable_datafile_test.cc
Owners: none

sstables/compaction_manager: add perform_sstable_validation()
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction: implement validation compaction type
  sstables/compaction.cc
  sstables/compaction.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: run_custom_job(): keep job function alive
  sstables/compaction_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_descriptor: compaction_options: add validation compaction type
  sstables/compaction.cc
  sstables/compaction_descriptor.hh
Owners: @tgrabiec, @raphaelsc, @nyh

test/boost/sstable_datafile_test: add test for validation compaction
  test/boost/sstable_datafile_test.cc
Owners: none

api: storage_service: expose validation compaction
  api/api-doc/storage_service.json
  api/storage_service.cc
Owners: none

sstables/compaction: compaction_options::type(): add static assert for size of index_to_type
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: run_custom_job(): replace parameter name with compaction type
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
  sstables/sstable_directory.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction: extract compaction info creation into static method
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: add maintenance scheduling group
  database.cc
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: rewrite_sstables(): resolve maintenance group FIXME
  sstables/compaction_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: drop _scheduling_group field
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction: extract sstable list formatting to a class
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction: extract compaction info creation into static method
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: add maintenance scheduling group
  database.cc
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_descriptor: compaction_options: add validation compaction type
  sstables/compaction.cc
  sstables/compaction_descriptor.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: rewrite_sstables(): resolve maintenance group FIXME
  sstables/compaction_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: drop _scheduling_group field
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: run_custom_job(): replace parameter name with compaction type
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
  sstables/sstable_directory.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: run_custom_job(): keep job function alive
  sstables/compaction_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

test/boost/sstable_datafile_test: add test for validation compaction
  test/boost/sstable_datafile_test.cc
Owners: none

api: storage_service: expose validation compaction
  api/api-doc/storage_service.json
  api/storage_service.cc
Owners: none

sstables/compaction: compaction_options::type(): add static assert for size of index_to_type
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

test/boost/sstable_datafile_test: scrub tests: extract corrupt sst writer code into function
  test/boost/sstable_datafile_test.cc
Owners: none

sstables/compaction: implement validation compaction type
  sstables/compaction.cc
  sstables/compaction.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/compaction_manager: add perform_sstable_validation()
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables: mx/writer: initialize the semaphore late
  sstables/mx/writer.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
