Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

release: prepare for 2021.1.rc2
  SCYLLA-VERSION-GEN
  dist/docker/redhat/Dockerfile
Owners: none

messaging service: be more verbose when shutting down servers and clients
  message/messaging_service.cc
Owners: none

tests: boost/sstable_datafile_test: use the same permit for all fragments in scrub tests
  test/boost/sstable_datafile_test.cc
Owners: none

sstables: compaction/scrub: prevent infinite loop when last partition end is missing
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

test: boost/sstable_datafile_test: add tests for segregate mode scrub
  test/boost/sstable_datafile_test.cc
Owners: none

mutation_writer: add segregate_by_partition
  configure.py
  mutation_writer/partition_based_splitting_writer.cc
  mutation_writer/partition_based_splitting_writer.hh
  test/boost/mutation_writer_test.cc
Owners: @tgrabiec, @haaawk

api: storage_service/keyspace_scrub: expose new segregate mode
  api/api-doc/storage_service.json
  api/storage_service.cc
Owners: none

api: /storage_service/keyspace_scrub: add scrub mode param
  api/api-doc/storage_service.json
  api/storage_service.cc
Owners: none

sstables: compaction/scrub: add segregate mode
  sstables/compaction.cc
  sstables/compaction_descriptor.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables: compaction/scrub: replace skip_corrupted with mode enum
  api/storage_service.cc
  sstables/compaction.cc
  sstables/compaction.hh
  sstables/compaction_descriptor.hh
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
  test/boost/sstable_datafile_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh

mutation_fragment_stream_validator: add reset methods
  flat_mutation_reader.cc
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

storage_service: Reject replacing a node that has left the ring
  service/storage_service.cc
Owners: @tgrabiec, @asias

Merge "Choose the user max-result-size for service levels" from Botond
  database.cc
  database.hh
  query_class_config.hh
  service/storage_proxy.cc
  test/boost/database_test.cc
Owners: @gleb-cloudius

scylla-gdb.py: add pretty printer for std::string_view
  scylla-gdb.py
Owners: none

scylla-gdb.py: introduce scylla reads
  scylla-gdb.py
Owners: none

scylla-gdb.py: introduce scylla reads
  scylla-gdb.py
Owners: none

release: prepare for 2021.1.0
  SCYLLA-VERSION-GEN
  dist/docker/redhat/Dockerfile
Owners: none

HACKING.md: Core dump debugging: link to debugging.md
  HACKING.md
Owners: none

cql: do not advance timeouts on internal pages
  cql3/statements/select_statement.cc
Owners: none

Revert "Mark CDC as GA"
  db/config.cc
  db/config.hh
  gms/feature_service.cc
  service/storage_service.cc
  test/alternator/run
  test/boost/cdc_test.cc
  test/boost/config_test.cc
  test/boost/extensions_test.cc
  test/boost/schema_change_test.cc
  test/tools/cql_repl.cc
Owners: @tgrabiec, @asias, @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @nyh

perf/perf_simple_query: add --enable-cache option
  test/perf/perf_simple_query.cc
Owners: none

mutation_reader: shard_reader: mark permit as blocked when waiting on remote shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

reader_permit: add reader_permit_opt
  reader_permit.hh
Owners: none

table: add estimate_read_memory_cost()
  database.hh
  table.cc
Owners: none

mutation_reader: shard_reader: coroutinize fill_buffer() and fast_forward_to()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

database: make_streaming_reader(): require permit
  database.cc
  database.hh
  repair/row_level.cc
  service/storage_service.cc
  streaming/stream_transfer_task.cc
  table.cc
Owners: @tgrabiec, @asias, @nyh

reader_permit: allow constructing reader_permit from impl&
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

test: continuous_data_consumer_test: mark permit as used
  test/boost/continuous_data_consumer_test.cc
Owners: none

mutation_reader: shard reader: use reader_lifecycle_policy::obtain_reader_permit()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

repair/row_level: use database::obtain_reader_permit()
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

multishard_mutation_query: use the passed-in permit to create new reader
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

db/size_estimates_virtual_reader: mark as blocked when obtaining local ranges
  db/size_estimates_virtual_reader.cc
Owners: none

mutation_reader: foreign_reader: mark permit as blocked when waiting on remote shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

reader_permit: prepare for up-front admission
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

mutation_reader: reader_lifecycle_policy: add obtain_reader_permit()
  database.cc
  multishard_mutation_query.cc
  mutation_reader.hh
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

sstables: continuous_data_consumer: mark permit as blocked when doing IO
  sstables/consumer.hh
Owners: @tgrabiec, @raphaelsc, @nyh

streaming/stream_session: use database::obtain_reader_permit()
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

table: mutation_query(): use obtain_permit()
  table.cc
Owners: none

test: cql_test_env: add trace logs to execute_cql()
  test/lib/cql_test_env.cc
Owners: none

table: query: use obtain_permit()
  table.cc
Owners: none
