Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

docs: design-notes: add reverse-reads.md
  docs/design-notes/reverse-reads.md
Owners: none

schema: add a transforming copy constructor
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

utils: UUID_gen: introduce negate()
  test/boost/UUID_test.cc
  utils/UUID_gen.cc
  utils/UUID_gen.hh
Owners: none

query: slice: add non-const specific-ranges accessor
  query-request.hh
Owners: none

query: add slice reversing functions
  query-request.hh
  query.cc
Owners: none

mutation: consume(): native reverse order
  mutation.hh
  mutation_partition.cc
Owners: @tgrabiec, @haaawk

mutation: consume(): don't include dummy rows
  mutation.hh
Owners: @tgrabiec, @haaawk

test/boost/flat_mutation_reader_test: more reversed reader tests
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

range_tombstone_accumulator: drop _reversed flag
  db/view/view.hh
  mutation_compactor.hh
  range_tombstone.cc
  range_tombstone.hh
  test/boost/mutation_test.cc
  test/boost/range_tombstone_list_test.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

flat_mutation_reader: make_reversing_reader(): implement fast_forward_to(partition_range)
  flat_mutation_reader.cc
Owners: @tgrabiec, @haaawk

mutation_rebuilder: make it standalone
  mutation.cc
  mutation_rebuilder.hh
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

test/lib/mutation_source_test: add consistent log to all methods
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

flat_mutation_reader: make_reversing_reader(): take ownership of the reader
  flat_mutation_reader.cc
  flat_mutation_reader.hh
  querier.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

treewide: switch to native reversed format for reverse reads
  database.cc
  flat_mutation_reader.cc
  mutation_compactor.hh
  mutation_partition.cc
  mutation_query.hh
  querier.hh
  table.cc
  test/boost/flat_mutation_reader_test.cc
  test/boost/mutation_query_test.cc
Owners: @tgrabiec, @haaawk

mutation: make copy constructor compatible with mutation_opt
  mutation.hh
Owners: @tgrabiec, @haaawk

mutation: introduce reverse()
  mutation.cc
  mutation.hh
Owners: @tgrabiec, @haaawk

test/boost/mutation_test: add test for mutation::consume() monotonicity
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

utils: UUID_gen: introduce negate()
  test/boost/UUID_test.cc
  utils/UUID_gen.cc
  utils/UUID_gen.hh
Owners: none

range_tombstone: add reverse()
  range_tombstone.hh
Owners: none

schema: add a transforming copy constructor
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

types: add reversed(data_type)
  types.cc
  types.hh
Owners: none

clustering_bounds_comparator: add reverse_kind()
  clustering_bounds_comparator.hh
  keys.cc
Owners: none

schema: introduce make_reversed()
  schema.cc
  schema.hh
  test/boost/schema_change_test.cc
Owners: @tgrabiec, @nyh

query: slice: add non-const specific-ranges accessor
  query-request.hh
Owners: none

query: specific_ranges: add non-const ranges accessor
  query-request.hh
Owners: none

docs: design-notes: add reverse-reads.md
  docs/design-notes/reverse-reads.md
Owners: none

treewide: switch to native reversed format for reverse reads
  database.cc
  flat_mutation_reader.cc
  mutation_compactor.hh
  mutation_partition.cc
  mutation_query.hh
  querier.hh
  table.cc
  test/boost/flat_mutation_reader_test.cc
  test/boost/mutation_query_test.cc
Owners: @tgrabiec, @haaawk

test/lib/mutation_source_test: add consistent log to all methods
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

query: add slice reversing functions
  query-request.hh
  query.cc
Owners: none

flat_mutation_reader: make_reversing_reader(): implement fast_forward_to(partition_range)
  flat_mutation_reader.cc
Owners: @tgrabiec, @haaawk

mutation: introduce reverse()
  mutation.cc
  mutation.hh
Owners: @tgrabiec, @haaawk

flat_mutation_reader: make_reversing_reader(): take ownership of the reader
  flat_mutation_reader.cc
  flat_mutation_reader.hh
  querier.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/boost/mutation_test: add test for mutation::consume() monotonicity
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

mutation: consume(): don't include dummy rows
  mutation.hh
Owners: @tgrabiec, @haaawk

range_tombstone_accumulator: drop _reversed flag
  db/view/view.hh
  mutation_compactor.hh
  range_tombstone.cc
  range_tombstone.hh
  test/boost/mutation_test.cc
  test/boost/range_tombstone_list_test.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

mutation: consume(): native reverse order
  mutation.hh
  mutation_partition.cc
Owners: @tgrabiec, @haaawk

mutation_rebuilder: make it standalone
  mutation.cc
  mutation_rebuilder.hh
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

test/boost/flat_mutation_reader_test: more reversed reader tests
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

mutation: make copy constructor compatible with mutation_opt
  mutation.hh
Owners: @tgrabiec, @haaawk

api: add sstablescrub - an endpoint that allows scrubbing specific sstables
  api/api-doc/storage_service.json
  api/storage_service.cc
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: none
