Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

tools/scylla-nodetool: implement the scrub command
  test/nodetool/test_scrub.py
  tools/scylla-nodetool.cc
Owners: none

docs/dev: add sstable-data-component.md
  docs/dev/sstable-data-component.md
Owners: none

docs/dev: add sstable-index-component.md
  docs/dev/sstable-index-component.md
Owners: none

docs/dev: add sstable-summary-component.md
  docs/dev/sstable-summary-component.md
Owners: none

WIP
  scripts/maintainer.py
Owners: none

WIP
  test/cql-pytest/test_tools.py
  tools/schema_loader.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @nyh

WIP
  test/cql-pytest/test_tools.py
  tools/schema_loader.cc
Owners: @tgrabiec, @nyh

tools/scylla-types: make shardof options operation specific
  tools/scylla-types.cc
Owners: none

tools/schema_loader: add keyspace/table filter to load_one_schema_from_file()
  tools/schema_loader.cc
  tools/schema_loader.hh
Owners: @tgrabiec, @nyh

WIP
  tools/scylla-types.cc
Owners: none

BOOM
  api/column_family.cc
  test/cql-pytest/test_tools.py
Owners: none

Revert "compaction: Fix key estimation per sstable to produce efficient filters"
  compaction/compaction.cc
  test/boost/sstable_compaction_test.cc
Owners: none

Revert "repair: Use the updated estimated_partitions to create writer"
  repair/row_level.cc
  repair/writer.hh
Owners: @tgrabiec, @asias, @nyh

SCYLLA-VERSION-GEN: bump version for release
  SCYLLA-VERSION-GEN
Owners: none

tests: tablets: Fix use-after-move of skiplist in rebalance_tablets()
  test/boost/tablets_test.cc
Owners: none

tablets: Introduce tablet transition kind for intra-node migration
  locator/tablets.cc
  locator/tablets.hh
  service/storage_service.cc
  service/topology_coordinator.cc
Owners: @tgrabiec, @asias

docs: Document sharder use for tablets
  docs/dev/topology-over-raft.md
Owners: none

tests: tablets: Improve debuggability by showing which rows are missing
  test/topology_experimental_raft/test_tablets.py
Owners: none

tests: tablets: Test that drained nodes are not balanced internally
  test/boost/tablets_test.cc
Owners: none

tablets: Avoid tablet_map::get_shard in cleanup
  service/storage_service.cc
Owners: @tgrabiec, @asias

tests: tablets: Add checks of replica set validity to test_load_balancing_with_random_load
  test/boost/tablets_test.cc
Owners: none

tests: tablets: Check that nodes are internally balanced
  locator/load_sketch.hh
  test/boost/tablets_test.cc
Owners: none

tablet_allocator: Generate intra-node migration plan
  service/tablet_allocator.cc
Owners: none

multishard_writer: Handle intra-node migration
  mutation_writer/multishard_writer.cc
Owners: @tgrabiec, @haaawk

tablets, streaming: Implement tablet streaming for intra-node migration
  service/storage_service.cc
  streaming/stream_manager.hh
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

tablets: tablet_sharder: Allow working with non-local host
  locator/tablet_sharder.hh
Owners: none

tests: tablets: Verify that disabling balancing results in no intra-node migrations
  test/boost/tablets_test.cc
Owners: none

tablets, storage_service: Support intra-node migration in move_tablet() API
  service/storage_service.cc
Owners: @tgrabiec, @asias

tablet_allocator: Extract make_internode_plan()
  service/tablet_allocator.cc
Owners: none

sharding: Prepare for intra-node-migration
  dht/auto_refreshing_sharder.hh
  dht/i_partitioner.cc
  dht/token-sharding.hh
  docs/dev/topology-over-raft.md
  locator/tablet_sharder.hh
  test/boost/tablets_test.cc
Owners: none

storage_proxy: Handle intra-node tablet migration for writes
  service/storage_proxy.cc
Owners: @gleb-cloudius

tablet_allocator: Maintain candidate list and shard tablet count for target nodes
  service/tablet_allocator.cc
Owners: none

tablets: Get rid of tablet_map::get_shard()
  locator/tablets.cc
  locator/tablets.hh
  replica/table.cc
Owners: none

tablet_allocator: Lift apply_load/can_accept_load lambdas to member functions
  service/tablet_allocator.cc
Owners: none

tablets: test: Use sharder instead of tablet_map::get_shard()
  test/boost/tablets_test.cc
Owners: none

dht: Deprecate old sharder API: shard_of/next_shard/token_for_next_shard
  dht/i_partitioner.cc
  dht/token-sharding.hh
  locator/tablet_sharder.hh
  test/boost/tablets_test.cc
Owners: none

tests: tablets: py: Add intra-node migration test
  test/topology_experimental_raft/test_tablets_intranode.py
Owners: none

locator: Deprecate effective_replication_map::shard_of()
  locator/abstract_replication_strategy.hh
Owners: none

replica: Deprecate table::shard_of()
  replica/database.hh
  replica/table.cc
Owners: none

tools/scylla-nodetool: implement the checkAndRepairCdcStreams command
  test/nodetool/test_check_and_repair_cdc_streams.py
  tools/scylla-nodetool.cc
Owners: none
