Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

test/lib/reader_lifecycle_policy: use a more robust eviction mechanism
  test/lib/reader_lifecycle_policy.hh
Owners: none

test: mutation_reader_test: share permit between readers in a read
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test: move away from make_permit()
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/querier_cache_test.cc
  test/boost/reader_concurrency_semaphore_test.cc
  test/boost/view_build_test.cc
  test/lib/reader_permit.cc
  test/manual/sstable_scan_footprint_test.cc
Owners: @tgrabiec, @haaawk

test: reader_lifecycle_policy: add permit parameter to factory function
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_reader_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

treewide: use make_tracking_only_permit()
  database.cc
  db/view/view.cc
  memtable.cc
  multishard_mutation_query.cc
  mutation_writer/multishard_writer.cc
  sstables/compaction.cc
  sstables/kl/writer.cc
  sstables/mx/writer.cc
  sstables/sstables.cc
  table.cc
  tools/scylla-sstable-index.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk, @raphaelsc

database: increase semaphore max queue size
  database.hh
Owners: none

test: reader_concurrency_semaphore_test: move away from make_permit()
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

mutation_reader: evictable_reader: futurize resume_or_recreate_reader()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: remove now unused make_permit()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

mutation_reader: reader_lifecycle_policy::destroy_reader(): require to be called on native shard
  database.cc
  multishard_mutation_query.cc
  mutation_reader.cc
  mutation_reader.hh
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

test/lib/reader_lifcecycle_policy: fix indentation
  test/lib/reader_lifecycle_policy.hh
Owners: none

reader_concurrency_semaphore: admission: flip the switch
  database.cc
  db/view/view_update_generator.cc
  db/virtual_table.cc
  mutation_reader.cc
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
  table.cc
  test/boost/view_build_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @nyh, @psarna, @tgrabiec, @haaawk

test/boost/reader_concurrency_semaphore_test: add used/blocked test
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

test/boost/reader_concurrency_semaphore_test: add admission test
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

table: clean up make_sstable_reader()
  table.cc
Owners: none

mutation_reader: remove now unused restricting_reader
  database.hh
  mutation_reader.cc
  mutation_reader.hh
  table.cc
Owners: @tgrabiec, @haaawk

table: make_sstable_reader(): fix indentation
  table.cc
Owners: none

database: remove now unused query execution stages
  database.cc
  database.hh
Owners: none

reader_concurrency_semaphore: remove now unused obtain_permit_nowait()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: remove now unused wait_admission()
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: add reads_{admitted,enqueued} stats
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

sstables: sstable_set: remove now unused make_restricted_range_sstable_reader()
  sstables/sstable_set.cc
  sstables/sstable_set.hh
Owners: @tgrabiec, @raphaelsc, @nyh

docs/guides/debugging.md: expand section on libthread-db
  docs/guides/debugging.md
Owners: none

test/lib/reader_lifecycle_policy: get rid of lifecycle workarounds
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_reader_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

mutation_reader: multishard_combining_reader: store shard_reader via unique ptr
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

mutation_reader: reader_lifecycle_policy: remove convenience methods
  multishard_mutation_query.cc
  mutation_reader.cc
  mutation_reader.hh
Owners: @tgrabiec, @haaawk

flat_mutation_reader: mark permit as used when reader is used
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

repair/row_level: use database::obtain_reader_permit()
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

test: mutation_reader_test: remove restricted reader tests
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test: reader_concurrency_semaphore_test: move away from make_permit()
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

reader_permit: allow constructing reader_permit from impl&
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

database: make_streaming_reader(): require permit
  database.cc
  database.hh
  repair/row_level.cc
  service/storage_service.cc
  streaming/stream_transfer_task.cc
  table.cc
Owners: @tgrabiec, @asias, @nyh

table: add estimate_read_memory_cost()
  database.hh
  table.cc
Owners: none

test: move away from make_permit()
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/querier_cache_test.cc
  test/boost/reader_concurrency_semaphore_test.cc
  test/boost/view_build_test.cc
  test/lib/reader_permit.cc
  test/manual/sstable_scan_footprint_test.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: remove now unused make_permit()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

mutation_reader: reader_lifecycle_policy: add obtain_reader_permit()
  database.cc
  multishard_mutation_query.cc
  mutation_reader.hh
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

db/size_estimates_virtual_reader: mark as blocked when obtaining local ranges
  db/size_estimates_virtual_reader.cc
Owners: none

mutation_reader: evictable_reader: futurize resume_or_recreate_reader()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

table: mutation_query(): use obtain_permit()
  table.cc
Owners: none

database: make_multishard_streaming_reader: use external permit
  database.cc
  database.hh
  repair/row_level.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @asias, @nyh, @haaawk

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
