Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

replica/mutation_dump: multi_range_partition_generator: disable garbage-collection
  replica/mutation_dump.cc
  test/cqlpy/test_select_from_mutation_fragments.py
Owners: @tgrabiec, @haaawk

compaction/compaction_garbage_collector: introduce tombstone_gc
  compaction/compaction_garbage_collector.hh
Owners: none

schema,cql3: add compact_during_memtable_flush table property
  cql3/statements/cf_prop_defs.cc
  cql3/statements/cf_prop_defs.hh
  db/schema_tables.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
Owners: @tgrabiec, @nyh

replica/memtable: add compation stage to memtable flush
  mutation_writer/partition_based_splitting_writer.cc
  replica/memtable-sstable.hh
  replica/memtable.cc
  replica/memtable.hh
  replica/table.cc
  test/boost/memtable_test.cc
  test/boost/sstable_directory_test.cc
  test/lib/sstable_utils.cc
  test/perf/memory_footprint_test.cc
  test/perf/perf_sstable.hh
Owners: @tgrabiec, @haaawk

compaction: extract sstable overlap check into separate class
  compaction/compaction.cc
  compaction/sstables_max_purgeable.hh
Owners: none

sstables/mx/writer: detect empty sstable at the end of stream
  sstables/mx/writer.cc
Owners: none

replica/table: handle empty sstables after flush
  replica/table.cc
Owners: none

memtable: add get_rp_set() getter
  replica/memtable.hh
Owners: none

db/system_keyspace: set set_memtable_compact_flushed_data=true on batchlog table
  db/system_keyspace.cc
Owners: none

mutation/mutation_compactor: add tombstone_gc_enabled parameter
  mutation/mutation_compactor.hh
  replica/database.cc
  replica/database.hh
  replica/multishard_query.cc
  replica/multishard_query.hh
  replica/querier.hh
  replica/query.hh
  replica/table.cc
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

db/system_keyspace: disable caching for the batchlog table
  db/system_keyspace.cc
Owners: none

commitlog,tombstone_gc: allow to restrict commitlog gc-before check
  db/commitlog/commitlog.cc
  db/commitlog/commitlog.hh
  main.cc
  test/boost/row_cache_test.cc
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @elcallio, @tgrabiec, @haaawk

WIP: table tombstone
  compaction/compaction.cc
  compaction/compaction_group_view.hh
  db/view/view.cc
  db/view/view_building_worker.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  readers/compacting.hh
  readers/mutation_readers.cc
  replica/database.hh
  replica/multishard_query.cc
  replica/mutation_dump.cc
  replica/querier.hh
  replica/table.cc
  service/storage_proxy.cc
  test/boost/compaction_group_test.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_another_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/boost/sstable_compaction_test.cc
  test/lib/test_services.cc
  test/manual/bti_cassandra_compatibility_test.cc
  test/perf/perf_row_cache_reads.cc
  tools/scylla-sstable.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk, @gleb-cloudius

db/batchlog_manager: coroutinize batchlog_manager::replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: batch(): replace map_reduce() with simple loop
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: finish coroutinizing replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: include cleanup flag in replayAllFailedBatches log
  db/batchlog_manager.cc
Owners: @elcallio

mutation/mutation_compactor: compaction:stats: split partitions
  mutation/mutation_compactor.hh
  replica/multishard_query.cc
  replica/querier.hh
Owners: @tgrabiec, @haaawk

db/batchlog_manager: cleanup via table tombstone [WIP]
  db/batchlog_manager.cc
Owners: @elcallio

repair: enable cleanup for batchlog flush
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

test/lib/cql_assertions: columns_assertions: add assert_for_columns_of_each_row()
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

db/batchlog_manager: collect replay stats [WIP]
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/boost/batchlog_manager_test.cc
Owners: @elcallio, @tgrabiec, @asias, @nyh

db/batchlog_manager: collect tracing [WIP]
  cql3/query_processor.cc
  cql3/query_processor.hh
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/cluster/test_batchlog_manager.py
Owners: @tgrabiec, @penberg, @psarna, @elcallio, @asias, @nyh

test/lib/cql_assertions: add source location to fail messages
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_test_env: add batch type to execute_batch()
  test/boost/query_processor_test.cc
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: none

test/lib/cql_assertions: columns_assertions: add T* with_typed_column() overload
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_assertions: rows_assertions::assert_for_columns_of_row(): add index bound check
  test/lib/cql_assertions.cc
Owners: none

test/boost/batchlog_manager_test: add test for batchlog cleanup
  test/boost/batchlog_manager_test.cc
  test/boost/test_config.yaml
Owners: none

db/config: change batchlog_replay_cleanup_after_replays default to 1
  db/config.cc
Owners: none

WIP
  db/batchlog_manager.cc
  mutation_writer/partition_based_splitting_writer.cc
  replica/memtable-sstable.hh
  replica/memtable.cc
  replica/memtable.hh
  replica/table.cc
  service/storage_proxy.cc
  test/boost/batchlog_manager_test.cc
  test/boost/memtable_test.cc
  test/boost/sstable_directory_test.cc
  test/boost/test_config.yaml
  test/lib/sstable_utils.cc
  test/perf/perf_sstable.hh
Owners: @elcallio, @tgrabiec, @haaawk, @gleb-cloudius

db/batchlog_manager: improve replayAllFailedBatches logs
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: finish coroutinizing replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: only consider propagation delay with tombstone-gc=repair
  db/batchlog_manager.cc
Owners: @elcallio

service,db: extract get_batchlog_mutation_for() from storage-proxy
  db/batchlog.hh
  db/batchlog_manager.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/boost/batchlog_manager_test.cc
Owners: @elcallio, @gleb-cloudius

db/batchlog_manager: batch(): replace map_reduce() with simple loop
  db/batchlog_manager.cc
Owners: @elcallio

db/system_keyspace: introduce system.batchlog_v2
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

service,db: extract generation of batchlog delete mutation
  db/batchlog.hh
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

db,service: switch to system.batchlog_v2
  db/batchlog.hh
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  service/storage_proxy.cc
  test/boost/batchlog_manager_test.cc
  test/cluster/test_batchlog_manager.py
Owners: @elcallio, @gleb-cloudius

db/batchlog_manager: config: s/write_timeout/reply_timeot/
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: @elcallio

test/lib/cql_assertions: columns_assertions: add assert_for_columns_of_each_row()
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
