Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

sstables/sstable: remove make_reader_v1()
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @haaawk

sstables/sstable: remove unused make_crawling_reader_v1()
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc, @nyh

replica/table: use v2 variant of reversing reader
  replica/table.cc
Owners: none

db/virtual_table: use v2 variant of reversing and forwardable readers
  db/virtual_table.cc
Owners: none

readers: migrate away from v1 reversing reader
  readers/mutation_readers.cc
Owners: @tgrabiec, @haaawk

frozen_mutation: coroutinize fragment_and_freeze()
  frozen_mutation.cc
Owners: @tgrabiec, @haaawk

frozen_mutation: fragment_and_freeze(): convert to v2
  frozen_mutation.cc
  frozen_mutation.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/boost/flat_mutation_reader_test: convert to v2
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

readers: remove now unused v1 reversing reader
  readers/mutation_readers.cc
  readers/reversing.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/boost: mutation_fragment_test: refactor fragment_scatterer
  test/boost/mutation_fragment_test.cc
Owners: @tgrabiec, @haaawk

test/boost/mutation_fragment_test: extract fragment_scatterer into a separate hh
  test/boost/mutation_fragment_test.cc
  test/lib/fragment_scatterer.hh
Owners: @tgrabiec, @haaawk

test/boost/mutation_reader_test: use fragment_scatterer
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

readers: remove now unused v1 reader from mutations
  readers/from_mutations.hh
  readers/mutation_readers.cc
Owners: @tgrabiec, @haaawk

test: move away from v1 reader from mutations
  test/boost/flat_mutation_reader_test.cc
  test/boost/frozen_mutation_test.cc
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/querier_cache_test.cc
  test/boost/row_cache_test.cc
  test/lib/fragment_scatterer.hh
Owners: @tgrabiec, @haaawk

readers: move combined reader into readers/
  configure.py
  mutation_reader.cc
  mutation_reader.hh
  readers/clustering_combined.hh
  readers/combined.cc
  readers/combined.hh
  replica/table.cc
  sstables/sstable_set.cc
  sstables/sstable_set_impl.hh
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_writer_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_mutation_test.cc
  test/lib/memtable_snapshot_source.hh
  test/lib/simple_position_reader_queue.hh
  test/perf/perf_mutation_readers.cc
  test/perf/perf_row_cache_update.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

mutation_reader: remove unused remote_fill_buffer_result
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

readers: move multishard reader & friends to reader/multishard.cc
  configure.py
  db/view/view.cc
  db/view/view_update_generator.cc
  multishard_mutation_query.cc
  mutation_reader.cc
  mutation_reader.hh
  mutation_writer/multishard_writer.cc
  readers/evictable.hh
  readers/foreign.hh
  readers/multishard.cc
  readers/multishard.hh
  repair/row_level.cc
  replica/database.cc
  test/boost/mutation_reader_test.cc
  test/boost/view_build_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @nyh, @psarna, @tgrabiec, @haaawk, @asias

mutation_reader: move mrlog (mutation reader logger) to readers/
  mutation_reader.cc
  readers/mutation_reader.cc
Owners: @tgrabiec, @haaawk

tree: remove mutation_reader.hh include
  cache_flat_mutation_reader.hh
  compaction/compaction.cc
  db/data_listeners.hh
  db/view/build_progress_virtual_reader.hh
  index/built_indexes_virtual_reader.hh
  mutation_writer/shard_based_splitting_writer.cc
  mutation_writer/timestamp_based_splitting_writer.cc
  readers/mutation_readers.cc
  replica/database.hh
  sstables/sstable_mutation_reader.hh
  sstables/sstables.cc
  sstables/sstables.hh
  streaming/stream_detail.hh
  streaming/stream_session.cc
  streaming/stream_transfer_task.cc
  test/boost/flat_mutation_reader_test.cc
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/schema_changes_test.cc
  test/boost/sstable_mutation_test.cc
  test/boost/sstable_resharding_test.cc
  test/lib/mutation_source_test.hh
  test/lib/normalizing_reader.hh
  test/manual/enormous_table_scan_test.cc
  test/perf/perf_mutation_readers.cc
  test/perf/perf_sstable.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @haaawk, @nyh, @psarna, @raphaelsc, @asias

mutation_reader: move filtering reader into readers/
  compaction/compaction.cc
  db/data_listeners.cc
  db/virtual_table.hh
  mutation_reader.hh
  readers/filtering.hh
  test/boost/data_listeners_test.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

mutation_reader: move mutation source into readers/
  db/virtual_table.cc
  mutation_reader.cc
  mutation_reader.hh
  querier.hh
  readers/multishard.cc
  readers/mutation_readers.cc
  readers/mutation_source.hh
  replica/memtable.hh
  row_cache.hh
Owners: @tgrabiec, @haaawk

tree: remove now empty mutation_reader.{hh,cc}
  configure.py
  mutation_reader.cc
  mutation_reader.hh
Owners: @tgrabiec, @haaawk

mutation_reader: move queue reader to readers/
  db/virtual_table.cc
  mutation_reader.cc
  mutation_reader.hh
  mutation_writer/feed_writers.hh
  mutation_writer/multishard_writer.cc
  mutation_writer/partition_based_splitting_writer.hh
  readers/multishard.cc
  readers/mutation_readers.cc
  readers/queue.hh
  repair/row_level.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk, @asias, @nyh

mutation_reader: move compacting reader into readers/
  compaction/compaction.cc
  mutation_reader.cc
  mutation_reader.hh
  readers/compacting.hh
  readers/mutation_readers.cc
  replica/table.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

mutation_reader: move slicing filtering reader into readers/
  db/virtual_table.cc
  mutation_reader.hh
  readers/slicing_filtering.hh
Owners: @tgrabiec, @haaawk

readers: merge fmr_logger and mrlog
  readers/mutation_reader.cc
  readers/mutation_readers.cc
Owners: @tgrabiec, @haaawk

WIP
  readers/empty.hh
  readers/mutation_readers.cc
  repair/row_level.cc
  row_cache.cc
  row_cache.hh
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk, @asias, @nyh

readers/reversing: remove FIXME
  readers/reversing.hh
Owners: none

readers: add v2 variant of reversing reader
  readers/mutation_readers.cc
  readers/reversing_v2.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

sstables/sstable: remove unused make_crawling_reader_v1()
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc, @nyh

test/boost/mutation_fragment_test: extract fragment_scatterer into a separate hh
  test/boost/mutation_fragment_test.cc
  test/lib/fragment_scatterer.hh
Owners: @tgrabiec, @haaawk

readers: migrate away from v1 reversing reader
  readers/mutation_readers.cc
Owners: @tgrabiec, @haaawk

test/boost/flat_mutation_reader_test: convert to v2
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

frozen_mutation: fragment_and_freeze(): convert to v2
  frozen_mutation.cc
  frozen_mutation.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

readers: remove now unused v1 reader from mutations
  readers/from_mutations.hh
  readers/mutation_readers.cc
Owners: @tgrabiec, @haaawk

frozen_mutation: coroutinize fragment_and_freeze()
  frozen_mutation.cc
Owners: @tgrabiec, @haaawk

test/boost/mutation_reader_test: use fragment_scatterer
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/boost: mutation_fragment_test: refactor fragment_scatterer
  test/boost/mutation_fragment_test.cc
Owners: @tgrabiec, @haaawk

sstables/sstable: remove make_reader_v1()
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @haaawk

readers: remove now unused v1 reversing reader
  readers/mutation_readers.cc
  readers/reversing.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk
