Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

managed_bytes: add bytes iterator
  utils/managed_bytes.hh
Owners: none

managed_bytes: fixes
  utils/managed_bytes.hh
Owners: none

managed_bytes: implement begin()
  utils/managed_bytes.hh
Owners: none

managed_bytes_iterator: add operator+=() and operator+()
  utils/managed_bytes.hh
Owners: none

utils/fragment_range: add copy() algorithm
  utils/fragment_range.hh
Owners: none

managed_bytes: managed_bytes_basic_view: implement converting constructor
  utils/managed_bytes.hh
Owners: none

qos: fix segfault on nonexisting service level
  service/qos/service_level_controller.hh
Owners: none

test: add a test case for nonexistent service level altering
  test/boost/cql_query_test.cc
Owners: none

encryption at rest: Create keyspace and table through migration manager
  ent/encryption/encryption.cc
  ent/encryption/encryption.hh
  ent/encryption/replicated_key_provider.cc
  service/storage_service.cc
Owners: @tgrabiec, @asias

Scylla tables: Fix mismatched schemas with the same version
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

scylla.yaml: remove invalid option audit-keyspaces
  conf/scylla.yaml
Owners: none

Point seastar submodule at scylla-enterprise-seastar
  .gitmodules
Owners: none

Merge 'in-memory read dma: trim to file size' from Benny Halevy
  configure.py
  in-memory-file-impl.cc
  in-memory-file-impl.hh
  mirror-file-impl.cc
  mirror-file-impl.hh
  test/boost/mirror_file_test.cc
Owners: none

test: mirror_file_test: Fixed discarded future errors in mirror_file_test.cc.
  test/boost/mirror_file_test.cc
Owners: none

Versioning: remove ".dev" suffix for Packages and Docker
  dist/docker/redhat/Dockerfile
Owners: none

test: increase timeout to 12000 seconds to account for slow ARM cores
  test.py
Owners: none

in-memory: deinit_in_memory_file_store: do not reinterpret_cast
  in-memory-file-impl.cc
Owners: none

release: prepare for 2021.1.rc0
  SCYLLA-VERSION-GEN
Owners: none

build: Make artifacts product aware
  configure.py
  reloc/build_reloc.sh
  unified/build_unified.sh
Owners: none

configure.py: Fix unified-package version and release to unbreak "dist" target
  configure.py
Owners: none

debian pkg: Make deb packages explicitly depend on versioned components
  dist/debian/control.template
Owners: none

dist/debian: fix typo for scylla-server.service filename
  dist/debian/debian_files_gen.py
Owners: none

dist/debian: fix renaming debian/scylla-* files rule
  dist/debian/debian_files_gen.py
Owners: none

Revert "commitlog: fix size of a write used to zero a segment"
  db/commitlog/commitlog.cc
Owners: @elcallio

Merge 'Fix mixed cluster schema sync' from Eliran Sinvani
  db/schema_tables.cc
  gms/feature_service.hh
  service/migration_manager.cc
Owners: @tgrabiec, @nyh, @asias

cql3: allow SELECTs restricted by "IN" to retrieve collections
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
  cql3/selection/selection.hh
  cql3/statements/select_statement.cc
Owners: none

release: prepare for 2021.1.rc1
  SCYLLA-VERSION-GEN
Owners: none

compaction_manager: Redefine weight for better control of parallel compactions
  sstables/compaction_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

Merge "utils/large_bitset: reserve memory for _storage gently" from Botond
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
  utils/large_bitset.cc
Owners: none

storage_proxy: Add .local_db() getters
  service/storage_proxy.hh
Owners: @gleb-cloudius

Merge 'Fix inconsistencies in MV and SI (reworked)' from Eliran Sinvani
  database.cc
  db/schema_tables.cc
  db/schema_tables.hh
  schema.cc
  schema_registry.cc
  schema_registry.hh
Owners: @tgrabiec, @nyh

scripts: adjust scripts/pull_github_pr.sh for enterprise
  scripts/pull_github_pr.sh
Owners: none

ldap: Turn off referral-chasing
  auth/ldap_role_manager.cc
  ent/ldap/ldap_connection.cc
Owners: @elcallio, @vladzcloudius

auth: Check saslauthd socket path at startup
  auth/saslauthd_authenticator.cc
Owners: @elcallio, @vladzcloudius

config: ignore enable_sstables_mc_format flag
  database.cc
  db/config.cc
  gms/feature_service.cc
  test/manual/sstable_scan_footprint_test.cc
  test/perf/perf_fast_forward.cc
Owners: @tgrabiec, @asias

config: relax batch size warning and failure thresholds
  conf/scylla.yaml
  db/config.cc
Owners: none

table: query(): inline data_query() into query()
  table.cc
Owners: none

test: mutation_query_test: test_result_size_calculation: use local data_query()
  test/boost/mutation_query_test.cc
Owners: @tgrabiec, @haaawk

table: make query() a coroutine
  table.cc
Owners: none

table: query(): fix typo (short_read_allwoed)
  table.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
