Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

Merge "Implement validation compaction" from Botond
  api/api-doc/storage_service.json
  api/storage_service.cc
  database.cc
  flat_mutation_reader.cc
  mutation_fragment_stream_validator.hh
  position_in_partition.hh
  sstables/compaction.cc
  sstables/compaction.hh
  sstables/compaction_descriptor.hh
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
  sstables/sstable_directory.cc
  test/boost/sstable_datafile_test.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

Update SCYLLA_BUILD=1.discord
  SCYLLA-VERSION-GEN
Owners: none

compaction/compaction_manager: hide perform_sstable_validation()
  api/storage_service.cc
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  test/boost/sstable_datafile_test.cc
Owners: none

api: storage_service: validate_keyspace -> scrub_keyspace (validate mode)
  api/api-doc/storage_service.json
  api/storage_service.cc
Owners: none

compaction: validation compaction -> scrub compaction (validate mode)
  compaction/compaction.cc
  compaction/compaction.hh
  compaction/compaction_manager.cc
  test/boost/sstable_datafile_test.cc
Owners: none

compaction/compaction_descriptor: compaction_options: remove validate
  compaction/compaction.cc
  compaction/compaction_descriptor.hh
Owners: none

compaction/compaction_descriptor: add comment to Validation compaction type
  compaction/compaction_descriptor.hh
Owners: none

schema_builder: add const schema& constructor overload
  schema.cc
  schema_builder.hh
Owners: @tgrabiec, @nyh

schema_builder: add with_clustering_order_reversed()
  schema.cc
  schema_builder.hh
Owners: @tgrabiec, @nyh

schema: add reversed schema support
  schema.cc
  schema.hh
  schema_builder.hh
Owners: @tgrabiec, @nyh

range_tombstone: add reverse()
  range_tombstone.hh
Owners: none

flat_mutation_reader: reversed_reader: switch to native reversed format
  database.cc
  flat_mutation_reader.cc
  mutation_compactor.hh
  querier.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/boost/flat_mutation_reader_test: reversed reader test
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test: generalize `random_subset` and move to header
  test/lib/random_schema.cc
  test/lib/random_utils.hh
Owners: none

evictable_reader: reset _range_override after fast-forwarding
  mutation_reader.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

Merge "evictable_readers: don't drop static rows, drop assumption about snapshot isolation" from Botond
  mutation_reader.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

configure.py: add crc32.S to source list declaratively
  configure.py
Owners: none

configure.py: has throft fix
  configure.py
Owners: none

WIP
  configure.py
Owners: none

configure.py: thrift fix
  configure.py
Owners: none

schema_builder: add with_clustering_order_reversed()
  schema.cc
  schema_builder.hh
Owners: @tgrabiec, @nyh

schema_builder: add const schema& constructor overload
  schema.cc
  schema_builder.hh
Owners: @tgrabiec, @nyh

types: add reversed(data_type)
  types.cc
  types.hh
Owners: none

schema: introduce make()
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

range_tombstone: add reverse()
  range_tombstone.hh
Owners: none

range_tombstone_accumulator: drop _reversed flag
  db/view/view.hh
  mutation_compactor.hh
  range_tombstone.cc
  range_tombstone.hh
  test/boost/mutation_test.cc
  test/boost/range_tombstone_list_test.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

schema: introduce reversed transformation type
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

schema: extract view info initialization from other schema
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

flat_mutation_reader: reversed_reader: switch to native reversed format
  database.cc
  flat_mutation_reader.cc
  multishard_mutation_query.cc
  mutation_compactor.hh
  querier.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

test/boost/flat_mutation_reader_test: reversed reader test
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

schema_tables: add support for schema transformations
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

schema: introduce schema transformations
  schema.cc
  schema.hh
  schema_builder.hh
Owners: @tgrabiec, @nyh

clustering_bounds_comparator: add reverse_kind()
  clustering_bounds_comparator.hh
  keys.cc
Owners: none

cf_prop_defs: Fix extensions merge to handle removal
  cql3/statements/cf_prop_defs.cc
  test/boost/extensions_test.cc
Owners: none

types: add reversed(data_type)
  types.cc
  types.hh
Owners: none

tools: toolchain: pull gnutls 3.7.2 from Fedora 34
  tools/toolchain/Dockerfile
  tools/toolchain/image
Owners: none

storage_proxy: Include counter writes in `writes_coordinator_outside_replica_set`
  service/storage_proxy.cc
Owners: @gleb-cloudius

schema: add a transforming copy constructor
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

clustering_bounds_comparator: add reverse_kind()
  clustering_bounds_comparator.hh
  keys.cc
Owners: none

range_tombstone: add reverse()
  range_tombstone.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
