Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

database: remove now unused query execution stages
  database.cc
  database.hh
  scylla-gdb.py
Owners: none

database: add obtain_reader_permit()
  database.cc
  database.hh
Owners: none

table: add estimate_read_memory_cost()
  database.hh
  table.cc
Owners: none

reader_permit: add operator<< for reader_resources
  reader_concurrency_semaphore.cc
  reader_permit.hh
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

database: make_streaming_reader(): require permit
  database.cc
  database.hh
  repair/row_level.cc
  service/storage_service.cc
  streaming/stream_transfer_task.cc
  table.cc
Owners: @tgrabiec, @asias, @nyh

test: reader_concurrency_semaphore_test: move away from make_permit()
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

reader_concurrency_semaphore: make it an execution stage
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

test/boost/reader_concurrency_semaphore_test: add used/blocked test
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

test: mutation_reader_test: remove restricted reader tests
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

reader_permit: allow constructing reader_permit from impl&
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

querier_cache: insert(): close refused queriers
  querier.cc
  querier.hh
Owners: none

reader_concurrency_semaphore: add reads_{admitted,enqueued} stats
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

mutation_reader: foreign_reader: mark permit as blocked when waiting on remote shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

database: mutation_query(): convert into coroutine
  database.cc
Owners: none

reader_concurrency_semaphore: add set_max_queue_size()
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: remove now unused make_permit()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

table: clean up make_sstable_reader()
  table.cc
Owners: none

mutation_reader: shard_reader: coroutinize fill_buffer() and fast_forward_to()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

mutation_reader: shard_reader: mark permit as blocked when waiting on remote shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

test: reader_lifecycle_policy: add permit parameter to factory function
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_reader_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

sstables: sstable_set: remove now unused make_restricted_range_sstable_reader()
  sstables/sstable_set.cc
  sstables/sstable_set.hh
Owners: @tgrabiec, @raphaelsc, @nyh

treewide: use make_tracking_only_permit()
  database.cc
  db/view/view.cc
  memtable.cc
  multishard_mutation_query.cc
  mutation_writer/multishard_writer.cc
  sstables/compaction.cc
  sstables/kl/writer.cc
  sstables/mx/writer.cc
  sstables/sstables.cc
  table.cc
  tools/scylla-sstable-index.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk, @raphaelsc

repair/row_level: use database::obtain_reader_permit()
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

querier: remove now unused cache_context
  querier.cc
  querier.hh
Owners: none

database: increase semaphore max queue size
  database.hh
Owners: none

database: mutation_query(): handle querier lookup/save on the database level
  database.cc
  database.hh
  table.cc
Owners: none

mutation_reader: reader_lifecycle_policy: add obtain_reader_permit()
  database.cc
  multishard_mutation_query.cc
  mutation_reader.hh
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

auth/ldap_role_manager: Reconnect on query failure
  auth/ldap_role_manager.cc
  auth/ldap_role_manager.hh
  ent/ldap/ldap_connection.cc
  ent/ldap/ldap_connection.hh
  test/ldap/role_manager_test.cc
  utils/sequential_producer.hh
Owners: @elcallio, @vladzcloudius

release: prepare for 2021.1.2
  SCYLLA-VERSION-GEN
  dist/docker/redhat/Dockerfile
Owners: none

db,view: pass base token by value to mutate_MV
  db/view/view.cc
  db/view/view.hh
Owners: @nyh, @psarna

db,view: explicitly move the mutation to its helper function
  db/view/view.cc
Owners: @nyh, @psarna

view: fix use-after-move when handling view update failures
  db/view/view.cc
Owners: @nyh, @psarna

reader_permit: add operator<< for reader_resources
  reader_concurrency_semaphore.cc
  reader_permit.hh
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

reader_concurrency_semaphore: add set_resources()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

WIP
  mutation_reader.cc
  reader_concurrency_semaphore.cc
  test/boost/multishard_mutation_query_test.cc
  test/boost/test_table.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: on_permit_created(): remove noexcept
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

evictable_reader: fill_buffer(): extract stop() lambda into its own method
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

evictable_reader: always reset static row drop flag
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

evictable_reader: fill_buffer(): simplify and make it a co-routine
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

evictable_reader: can_cut_buffer(): check if buffer is empty before accessing it
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
