Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

tombstone_gc: move all logic to get gc-before to tombstone_gc_before_getter
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

compactiont/table_state: rm get_tombstone_gc_state()
  compaction/table_state.hh
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: none

db/row_cache: migrate to tombstone_gc_before_getter
  db/cache_mutation_reader.hh
  db/read_context.hh
  db/row_cache.cc
  db/row_cache.hh
  replica/table.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

replica/table: add make_gc_before_getter()
  multishard_mutation_query.cc
  replica/database.hh
  replica/table.cc
Owners: @tgrabiec, @haaawk

tombstone_gc: tombstone_gc_before_getter: add table_replication_factor param
  db/view/view.cc
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/boost/row_cache_test.cc
  test/lib/test_services.cc
  tombstone_gc.hh
  tools/scylla-sstable.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

tombstone_gc: tombstone_gc_before_getter: consider RF when getting gc before time
  tombstone_gc.cc
Owners: none

tombstone_gc: allow use of repair-mode for RF=1 tables
  test/cluster/test_tombstone_gc.py
  tombstone_gc.cc
Owners: none

tombstone_gc: rm tombstone_gc::operator bool()
  tombstone_gc.hh
Owners: none

tombstone_gc: add tombstone_gc_getter factory methods for gc_all and no_gc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

test: move away from tombstone_gc_getter default ctor
  test/boost/database_test.cc
  test/boost/memtable_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_another_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/mutation_writer_test.cc
  test/boost/querier_cache_test.cc
  test/boost/sstable_compaction_test.cc
  test/lib/mutation_assertions.hh
  test/lib/mutation_reader_assertions.hh
  test/lib/mutation_source_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @tgrabiec, @haaawk

mutation: move away from tombstone_gc_getter default ctor
  db/view/view.cc
  mutation/mutation.cc
  mutation/mutation_partition.cc
  replica/mutation_dump.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

tombstone_gc: drop tombstone_gc_getter default ctor
  tombstone_gc.hh
Owners: none

multishard_mutation_query: add gc_enabled
  multishard_mutation_query.cc
  multishard_mutation_query.hh
  mutation/mutation_compactor.hh
  replica/mutation_dump.cc
Owners: @tgrabiec, @haaawk

replica/table: handle empty sstabes after flush
  replica/table.cc
Owners: none

db/batchlog_manager: include cleanup flag in replayAllFailedBatches log
  db/batchlog_manager.cc
Owners: @elcallio

sstables/mx/writer: detect empty sstable at the end of stream
  sstables/mx/writer.cc
Owners: none

db/batchlog_manager: finish corotinizing replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: extract batchlog clenaup into separate method
  db/batchlog_manager.cc
  db/batchlog_manager.hh
Owners: @elcallio

db/batchlog_manager: add memtable rollover cleanup method
  db/batchlog_manager.cc
  db/config.cc
  db/config.hh
  replica/database.hh
Owners: @elcallio

schema,cql3: add compact_during_memtable_flush table property
  cql3/statements/cf_prop_defs.cc
  cql3/statements/cf_prop_defs.hh
  db/schema_tables.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
Owners: @tgrabiec, @nyh

replica/memtable: add compation stage to memtable flush
  replica/memtable.cc
Owners: none

db/system_keyspace: set set_memtable_compact_flushed_data=true on batchlog table
  db/system_keyspace.cc
Owners: none

db/config: change batchlog_replay_cleanup_after_replays default to 1
  db/config.cc
Owners: none

test/boost/batchlog_manager_test: add test for batchlog cleanup
  test/boost/batchlog_manager_test.cc
Owners: none

repair: enable cleanup for batchlog flush
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

mutation/mutation_compactor: add tombstone_gc_state to query ctor
  db/view/view.cc
  multishard_mutation_query.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
  replica/mutation_dump.cc
  replica/table.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

tombstone_gc: introduce tombstone_gc_before_getter
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: tombstone_gc_before_getter: add table_replication_factor param
  db/view/view.cc
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/boost/row_cache_test.cc
  test/lib/test_services.cc
  tombstone_gc.hh
  tools/scylla-sstable.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

compaction/compaction: rm get_tombstone_gc_state()
  compaction/compaction.cc
Owners: none

sstables/sstables: migrate to tombstone_gc_before_getter
  compaction/compaction.cc
  compaction/compaction_strategy.cc
  compaction/incremental_compaction_strategy.cc
  compaction/leveled_compaction_strategy.cc
  sstables/sstable_set.cc
  sstables/sstable_set.hh
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/incremental_compaction_test.cc
  test/boost/sstable_compaction_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh

compactiont/table_state: rm get_tombstone_gc_state()
  compaction/table_state.hh
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: none

replica/table: add make_gc_before_getter()
  multishard_mutation_query.cc
  replica/database.hh
  replica/table.cc
Owners: @tgrabiec, @haaawk

tombstone_gc: move all logic to get gc-before to tombstone_gc_before_getter
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

db/row_cache: migrate to tombstone_gc_before_getter
  db/cache_mutation_reader.hh
  db/read_context.hh
  db/row_cache.cc
  db/row_cache.hh
  replica/table.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

tombstone_gc: tombstone_gc_before_getter: consider RF when getting gc before time
  tombstone_gc.cc
Owners: none

mutation/mutation_compactor: migrate to tombstone_gc_before_getter
  compaction/compaction.cc
  db/view/view.cc
  multishard_mutation_query.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
  readers/compacting.hh
  readers/mutation_readers.cc
  replica/mutation_dump.cc
  replica/table.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_another_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/boost/sstable_compaction_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

db/view/view: migrate to tombstone_gc_before_getter
  db/view/view.cc
Owners: @nyh, @psarna

mutation/mutation: migrate to tombstone_gc_before_getter
  mutation/mutation.cc
  mutation/mutation_partition.cc
  mutation/mutation_partition.hh
  test/boost/memtable_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/mutation_writer_test.cc
  test/lib/mutation_assertions.hh
  test/lib/mutation_reader_assertions.hh
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

compaction/table_state: add get_tombstone_gc_before_getter()
  compaction/compaction.cc
  compaction/table_state.hh
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: none

tombstone_gc: allow use of repair-mode for RF=1 tables
  test/cluster/test_tombstone_gc.py
  test/cqlpy/test_select_from_mutation_fragments.py
  tombstone_gc.cc
Owners: @tgrabiec, @haaawk

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
