Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

utils/logalloc: allocating_section: don't use the global tracker
  partition_snapshot_reader.hh
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

utils/logalloc: move segment pool into tracker
  scylla-gdb.py
  utils/logalloc.cc
Owners: @tgrabiec

utils/logalloc: move global stat accessors to tracker
  replica/database.cc
  test/boost/logalloc_test.cc
  test/perf/perf_row_cache_update.cc
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

db/virtual_table: add virtual destructor to virtual_table
  db/virtual_table.hh
Owners: none

replica/table: store db::virtual_table for virtual tables
  db/size_estimates_virtual_reader.hh
  db/system_keyspace.cc
  db/view/build_progress_virtual_reader.hh
  docs/guides/virtual-tables.md
  index/built_indexes_virtual_reader.hh
  replica/database.hh
  replica/table.cc
  test/manual/enormous_table_scan_test.cc
Owners: @nyh, @psarna

db/system_keyspace: de-globalize virtual tables
  db/system_keyspace.cc
Owners: none

test/lib/sstable_utils: use test_env::do_with_async()
  test/lib/sstable_utils.hh
Owners: none

compaction/compaction_descriptor: compaction_type_options::scrub: remove higher level options
  api/storage_service.cc
  compaction/compaction_descriptor.hh
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  test/boost/sstable_compaction_test.cc
Owners: none

dirty_memory_manager: move db ctor out-of-line
  dirty_memory_manager.hh
  replica/database.cc
Owners: none

test/lib/sstable_test_env: move members to impl struct
  test/lib/sstable_test_env.hh
Owners: none

replica/database: remove unused default_dirty_memory_manager global
  dirty_memory_manager.hh
  replica/database.cc
  replica/database.hh
Owners: none

test/lib: move convenience table config factory to sstable_test_env
  test/boost/mutation_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_resharding_test.cc
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
  test/lib/test_services.hh
  test/perf/perf_sstable.hh
Owners: @tgrabiec, @haaawk

memtable: remove global dirty memory manager
  db/virtual_table.cc
  db/virtual_table.hh
  mutation_writer/partition_based_splitting_writer.cc
  replica/database.hh
  replica/memtable.cc
  replica/memtable.hh
  test/boost/flat_mutation_reader_test.cc
  test/boost/memtable_test.cc
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/repair_test.cc
  test/boost/row_cache_test.cc
  test/boost/schema_changes_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_conforms_to_mutation_source_test.cc
  test/boost/sstable_datafile_test.cc
  test/boost/sstable_directory_test.cc
  test/boost/sstable_mutation_test.cc
  test/boost/sstable_resharding_test.cc
  test/boost/view_build_test.cc
  test/boost/virtual_table_mutation_source_test.cc
  test/lib/memtable_snapshot_source.hh
  test/lib/sstable_test_env.hh
  test/lib/sstable_utils.cc
  test/lib/test_services.cc
  test/lib/test_services.hh
  test/manual/sstable_scan_footprint_test.cc
  test/perf/memory_footprint_test.cc
  test/perf/perf_mutation.cc
  test/perf/perf_mutation_readers.cc
  test/perf/perf_row_cache_update.cc
  test/perf/perf_sstable.hh
  test/unit/row_cache_alloc_stress_test.cc
  test/unit/row_cache_stress_test.cc
Owners: @tgrabiec, @haaawk, @nyh

utils/logalloc: prime_segment_pool(): respect request for 0 reserves
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

test/lib/sstable_test_env: make_table_config(): use local dirty memory manager instance
  test/lib/sstable_test_env.hh
Owners: none

utils/logalloc: make tracker a sharded service
  debug.hh
  main.cc
  replica/database.cc
  replica/database.hh
  scylla-gdb.py
  test/boost/cached_file_test.cc
  test/boost/chunked_managed_vector_test.cc
  test/boost/mvcc_test.cc
  test/boost/sstable_conforms_to_mutation_source_test.cc
  test/lib/cql_test_env.cc
  test/lib/logalloc.hh
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
  test/lib/test_services.hh
  test/perf/perf.cc
  test/perf/perf.hh
  test/perf/perf_mutation.cc
  test/perf/perf_sstable.cc
  tools/scylla-sstable.cc
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec, @haaawk

query: query_result_builder: add check for missing partition-end
  mutation_partition.cc
Owners: @tgrabiec, @haaawk

service/pager: prepare for empty pages
  service/pager/query_pagers.cc
Owners: none

query: result_merger::get() don't reset last-pos on short-reads and last pages
  query.cc
Owners: none

query: include last pos in result even on last page
  multishard_mutation_query.cc
  replica/table.cc
Owners: @tgrabiec, @haaawk

service/storage_proxy: set smallest continue pos as query's continue pos
  full_position.hh
  query-result.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

service/storage_proxy: add get_tombstone_limit()
  replica/database.cc
  replica/database.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

tree: don't use query::read_command's IDL constructor
  redis/query_utils.cc
  test/boost/multishard_mutation_query_test.cc
  test/boost/querier_cache_test.cc
Owners: @tgrabiec, @haaawk

query-result-writer: stop when tombstone-limit is reached
  db/view/view.cc
  multishard_mutation_query.cc
  mutation_partition.cc
  query-result-writer.hh
  replica/table.cc
  test/boost/mutation_query_test.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

query: add tombstone_limit type
  query-request.hh
Owners: none

db/config: add config item for query tombstone limit
  db/config.cc
  db/config.hh
Owners: none

query: add tombstone-limit to read-command
  alternator/auth.cc
  alternator/executor.cc
  alternator/streams.cc
  alternator/ttl.cc
  cdc/log.cc
  cql3/statements/cas_request.cc
  cql3/statements/modification_statement.cc
  cql3/statements/prune_materialized_view_statement.cc
  cql3/statements/select_statement.cc
  db/schema_tables.cc
  db/system_keyspace.cc
  db/view/view.cc
  idl/read_command.idl.hh
  query-request.hh
  redis/query_utils.cc
  service/storage_proxy.cc
  test/boost/database_test.cc
  test/boost/multishard_mutation_query_test.cc
  test/boost/per_partition_rate_limit_test.cc
  test/boost/querier_cache_test.cc
  thrift/handler.cc
Owners: @nyh, @psarna, @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @gleb-cloudius

gms: add cluster feature for empty replica pages
  gms/feature_service.hh
Owners: @tgrabiec, @asias

service/storage_proxy: propagate last position on digest reads
  idl/storage_proxy.idl.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

test/cql-pytest: add test for query tombstone page limit
  test/cql-pytest/test_tombstone_limit.py
  test/cql-pytest/util.py
Owners: none

utils/logalloc: make segment independent of segment pool
  utils/logalloc.cc
Owners: @tgrabiec

utils/logalloc: add tracker member to basic_region_impl
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

utils/logalloc: move segment pool into tracker
  scylla-gdb.py
  utils/logalloc.cc
Owners: @tgrabiec

utils/logalloc: pass down tracker::impl reference to segment_pool
  utils/logalloc.cc
Owners: @tgrabiec

utils/logalloc: allocating_section: don't use the global tracker
  partition_snapshot_reader.hh
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

utils/logalloc: move global stat accessors to tracker
  replica/database.cc
  test/boost/logalloc_test.cc
  test/perf/perf_row_cache_update.cc
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

utils/logalloc: tracker_reclaimer_lock: get shard tracker via constructor arg
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

db/virtual_table: add virtual destructor to virtual_table
  db/virtual_table.hh
Owners: none

test/lib/sstable_test_env: move members to impl struct
  test/lib/sstable_test_env.hh
Owners: none

test/lib: move convenience table config factory to sstable_test_env
  test/boost/mutation_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_resharding_test.cc
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
  test/lib/test_services.hh
  test/perf/perf_sstable.hh
Owners: @tgrabiec, @haaawk
