Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

tools/scylla-sstable: change output of dump-summary to json
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: add json support in --dump-data
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: add json_writer
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: use fmt::print in --dump-data
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: change output of dump-scylla-metadata to json
  tools/scylla-sstable.cc
Owners: none

tools/schema_loader: auto-create the keyspace for all statements
  test/boost/schema_loader_test.cc
  tools/schema_loader.cc
Owners: @tgrabiec, @nyh

test/cql-pytest: prepare for tool tests
  test/cql-pytest/conftest.py
  test/cql-pytest/run
Owners: none

tools/scylla-sstable: change output of dump-statistics to json
  tools/scylla-sstable.cc
Owners: none

test/cql-pytest: add tests for scylla-sstable's dump commands
  test/cql-pytest/test_tools.py
Owners: none

tools/scylla-sstable: prepare --dump-data for multiple output formats
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: change output of dump-index to json
  tools/scylla-sstable.cc
Owners: none

repair/row_level: use evictable reader v2
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

mutation_reader: compacting_reader: require a v2 input reader
  compaction/compaction.cc
  mutation_reader.cc
  mutation_reader.hh
  replica/table.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

evictable_reader_v2: simplify handling of reader recreation
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

test: pass v2 input to mutation_compaction
  test/boost/mutation_test.cc
  test/boost/sstable_compaction_test.cc
Owners: @tgrabiec, @haaawk

mutation: migrate consume() to v2
  flat_mutation_reader.cc
  mutation.cc
  mutation.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

test/boost/mutation_test: simplify test_compaction_data_stream_split test
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

mutation_fragment_v2: range_tombstone_change: add memory_usage()
  mutation_fragment_v2.hh
Owners: @tgrabiec, @haaawk

test: migrate to evictable reader v2 and multishard combining reader v2
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_reader_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

test/lib/test_utils: return OK from check() variants
  test/boost/multishard_mutation_query_test.cc
  test/lib/test_utils.cc
  test/lib/test_utils.hh
Owners: @tgrabiec, @haaawk

mutation_fragment_v2,flat_mutation_reader_v2: mirror v1 concept organization
  flat_mutation_reader_v2.hh
  mutation_consumer_concepts.hh
  mutation_fragment_v2.hh
Owners: @tgrabiec, @haaawk

test/lib/flat_mutation_reader_assertions: adjust has_monotonic_positions() to v2 spec
  test/lib/flat_mutation_reader_assertions.hh
Owners: @tgrabiec, @haaawk

multishard_mutation_query: migrate to v2
  multishard_mutation_query.cc
  querier.hh
Owners: @tgrabiec, @haaawk

db/view/view_updating_consumer: migrate to v2
  db/view/view.cc
  db/view/view_update_generator.cc
  db/view/view_updating_consumer.hh
  test/boost/view_build_test.cc
Owners: @nyh, @psarna

evictable_reader_v2: restore handling of non-monotonically increasing positions
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

db/view/view_builder: use v2 reader
  db/view/view.cc
  db/view/view_builder.hh
Owners: @nyh, @psarna

test/boost/mutation_reader_test: add v2 specific evictable reader tests
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

mutation_partition: do_compact(): do drop row tombstones covered by higher order tombstones
  mutation_partition.cc
Owners: @tgrabiec, @haaawk

mutation: counter_write_query: use v2 reader
  mutation_partition.cc
Owners: @tgrabiec, @haaawk

compact_mutation: drop support for v1 input
  multishard_mutation_query.cc
  mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

evictable_reader_v2: terminate active range tombstones on reader recreation
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

sstables/metadata_collector: use position_in_partition for min/max keys
  sstables/metadata_collector.cc
  sstables/metadata_collector.hh
  sstables/mx/writer.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables: add v2 writer interface
  sstables/mx/writer.cc
  sstables/mx/writer.hh
  sstables/sstable_writer.hh
  sstables/writer.cc
  sstables/writer_impl.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/sstable: expose writer v2 factory methods
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc, @nyh

range_tombstone_change: add set_tombstone()
  mutation_fragment_v2.hh
Owners: @tgrabiec, @haaawk

mutation_compactor: make _last_clustering_pos track last input
  mutation_compactor.hh
Owners: @tgrabiec, @haaawk

mutation_compactor: add v2 output
  mutation_compactor.hh
Owners: @tgrabiec, @haaawk

test/boost/mutation_test: test_compactor_range_tombstone_spanning_many_pages extend to check v2 output too
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

streaming: migrate to v2 variant of sstable writer API
  streaming/consumer.cc
Owners: @tgrabiec, @asias

sstables: remove v1 variant of sstable writer API and implementation
  sstables/sstable_writer.hh
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/writer.cc
  sstables/writer_impl.hh
Owners: @tgrabiec, @raphaelsc, @nyh
