Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

test/lib/reader_lifecycle_policy: use a more robust eviction mechanism
  test/lib/reader_lifecycle_policy.hh
Owners: none

test/lib/reader_lifcecycle_policy: fix indentation
  test/lib/reader_lifecycle_policy.hh
Owners: none

multishard_mutation_query: destroy remote parts in the foreground
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

test/lib/reader_lifecycle_policy: destroy_reader: cleanup context
  test/lib/reader_lifecycle_policy.hh
Owners: none

reader_concurrency_semaphore: wait for all permits to be destroyed in stop()
  database.cc
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

mutation_reader: reader_lifecycle_policy::destroy_reader(): de-futurize reader parameter
  database.cc
  multishard_mutation_query.cc
  mutation_reader.cc
  mutation_reader.hh
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

mutation_reader: multishard_combining_reader: store shard_reader via unique ptr
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

test/lib/reader_lifecycle_policy: get rid of lifecycle workarounds
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_reader_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

dist: redhat: don't pull in kernel package
  dist/redhat/scylla.spec
Owners: none

reader_permit: add reader_permit_opt
  reader_permit.hh
Owners: none

reader_permit: introduce evicted state
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_permit: allow marking blocked
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: add permit-stats
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: allow marking it as used
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

flat_mutation_reader: consume*(): mark permit as used
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

test: continuous_data_consumer_test: mark permit as used
  test/boost/continuous_data_consumer_test.cc
Owners: none

reader_concurrency_semaphore: extract waiter admission into separate function
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

mutation_reader: shard_reader: mark underlying permit as used
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

sstables: continuous_data_consumer: mark permit as blocked when doing IO
  sstables/consumer.hh
Owners: @tgrabiec, @raphaelsc, @nyh

mutation_reader: evictable_reader: futurize resume_or_recreate_reader()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

db/size_estimates_virtual_reader: mark as blocked when obtaining local ranges
  db/size_estimates_virtual_reader.cc
Owners: none

reader_concurrency_semaphore: admission: flip the switch
  database.cc
  db/view/view_update_generator.cc
  db/virtual_table.cc
  mutation_reader.cc
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
  table.cc
  test/boost/view_build_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @nyh, @psarna, @tgrabiec, @haaawk

database: query(): handle querier lookup/save on the database level
  database.cc
  database.hh
  table.cc
Owners: none

table: make_sstable_reader(): fix indentation
  table.cc
Owners: none

test: index_with_paging_test: increase semaphore's queue size
  test/boost/index_with_paging_test.cc
Owners: none

reader_concurrency_semaphore: prepare for up-front admission
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

mutation_reader: remove now unused restricting_reader
  database.hh
  mutation_reader.cc
  mutation_reader.hh
  table.cc
Owners: @tgrabiec, @haaawk

mutation_reader: shard reader: use reader_lifecycle_policy::obtain_reader_permit()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

test: move away from make_permit()
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/querier_cache_test.cc
  test/boost/reader_concurrency_semaphore_test.cc
  test/boost/view_build_test.cc
  test/lib/reader_permit.cc
  test/manual/sstable_scan_footprint_test.cc
Owners: @tgrabiec, @haaawk

multishard_mutation_query: use the passed-in permit to create new reader
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

database: make_multishard_streaming_reader: use external permit
  database.cc
  database.hh
  repair/row_level.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @asias, @nyh, @haaawk

view/view_update_generator: use obtain_reader_permit()
  db/view/view_update_generator.cc
Owners: @nyh, @psarna

test/boost/reader_concurrency_semaphore_test: add admission test
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

reader_concurrency_semaphore: remove now unused obtain_permit_nowait()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

test: mutation_reader_test: share permit between readers in a read
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: make_permit(): add up-front admission variants
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: remove now unused wait_admission()
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

database: query(): convert into coroutine
  database.cc
Owners: none

streaming/stream_session: use database::obtain_reader_permit()
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

reader_concurrency_semaphore: remove default name parameter
  database.cc
  reader_concurrency_semaphore.hh
  sstables/sstables.cc
  test/lib/reader_lifecycle_policy.hh
  test/lib/reader_permit.cc
Owners: @tgrabiec, @raphaelsc, @nyh

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
