Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

repair/row_level: remove reader timeout
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

replica/database: make_multishard_streaming_reader(): disable read-ahead
  replica/database.cc
Owners: none

repair/row_level: set max buffer size on multishard reader
  repair/reader.hh
  repair/row_level.cc
  test/boost/repair_test.cc
Owners: @tgrabiec, @asias, @nyh

readers/multishard: propagate fill_buffer_hint to shard_reader:fill_reader_buffer()
  readers/multishard.cc
Owners: none

repair/row_level: set max buffer size on multishard reader
  repair/reader.hh
  repair/row_level.cc
  test/boost/repair_test.cc
Owners: @tgrabiec, @asias, @nyh

readers/multishard: shard_reader: extract buffer-fill into its own method
  readers/multishard.cc
Owners: none

readers/multishard: multishard_reader: pass hint to shard_reader
  readers/multishard.cc
Owners: none

readers/multishard: shard_reader_v2::fill_reader_buffer(): respect the hint
  readers/multishard.cc
Owners: none

WIP
  readers/multishard.cc
Owners: none

compaction/compaction_manager: stop_tasks(): unlink stopped tasks
  compaction/compaction_manager.cc
Owners: none

compaction_manager: really_do_stop: ignore errors
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: none

compaction/compaction_manager: make _tasks an intrusive list
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  scylla-gdb.py
  test/lib/test_services.cc
Owners: none

unified: drop scylla-tools from unified package
  unified/build_unified.sh
  unified/install.sh
Owners: none

scylla-sstable: introduce dump-schema
  tools/scylla-sstable.cc
Owners: none

wip
  scylla-gdb.py
Owners: none

WIP
  scripts/open-coredump.sh
  scylla-gdb.py
Owners: none

WIP
  db/config.cc
  db/config.hh
  querier.hh
  replica/database.cc
  replica/database.hh
  replica/table.cc
Owners: none

mutation/mutation_compactor: copy key passed-in to consume_new_partition()
  mutation/mutation_compactor.hh
Owners: @tgrabiec, @haaawk

db/row_cache: add overlap-check for cache tombstone garbage collection
  db/cache_mutation_reader.hh
  db/read_context.hh
  db/row_cache.cc
  db/row_cache.hh
  replica/table.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

replica: improve memtable overlap checks for the cache
  replica/database.cc
  replica/database.hh
  replica/memtable.cc
  replica/memtable.hh
  replica/table.cc
Owners: none

replica/database: do_apply() add error injection point
  replica/database.cc
Owners: none

replica/mutation_dump: don't assume cells are live
  replica/mutation_dump.cc
Owners: @tgrabiec, @haaawk

test/pylib/utils: wait_for_cql_and_get_hosts(): sort hosts
  test/pylib/util.py
Owners: none

test/cluster: add test_data_resurrection_in_memtable.py
  test/cluster/test_data_resurrection_in_memtable.py
Owners: none

test/boost/row_cache_test: add memtable overlap check tests
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

sstables: scylla_metadata: add schema member
  sstables/sstables.cc
  sstables/types.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @nyh

tools/schema_loader: add support for loading from scylla-metadata
  tools/schema_loader.cc
Owners: @tgrabiec, @nyh

tools/schema_loader: extract code which load schema from statistics
  tools/schema_loader.cc
Owners: @tgrabiec, @nyh

test/boost/schema_loader_test: test_load_schema_from_sstable: add fall-back test
  test/boost/schema_loader_test.cc
Owners: @tgrabiec, @nyh

service: add query_nonmaterialized_view
  configure.py
  service/query_nonmaterialized_view.cc
  service/query_nonmaterialized_view.hh
Owners: none

service: add query_nonmaterialized_view
  configure.py
  service/query_nonmaterialized_view.cc
  service/query_nonmaterialized_view.hh
Owners: none

schema/schema: add raw_nonmaterialized_view_info
  schema/schema.cc
  schema/schema.hh
Owners: @tgrabiec, @nyh

view: Add DROP VIEW support
  cql3/Cql.g
  cql3/statements/drop_view_statement.cc
  cql3/statements/drop_view_statement.hh
  db/schema_tables.cc
  db/schema_tables.hh
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @tgrabiec, @penberg, @psarna, @nyh

view: Add DROP VIEW support
  cql3/Cql.g
  cql3/statements/drop_view_statement.cc
  cql3/statements/drop_view_statement.hh
  db/schema_tables.cc
  db/schema_tables.hh
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @tgrabiec, @penberg, @psarna, @nyh

schema: add nonmaterialized-view related fields
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
Owners: @tgrabiec, @nyh

add nonmaterialized_view_info
  db/view/view.cc
  nonmaterialized_view_info.hh
Owners: @nyh, @psarna

cql3: statements: add nonmaterialized_view_select_statement
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none

test/pylib: add test_nonmaterialized_view.py
  test/cqlpy/test_nonmaterialized_view.py
  test/cqlpy/util.py
Owners: none

test wip
  schema/schema.cc
  test/cqlpy/test_nonmaterialized_view.py
  test/cqlpy/util.py
Owners: @tgrabiec, @nyh

wip2
  schema/schema.cc
  service/query_nonmaterialized_view.cc
Owners: @tgrabiec, @nyh

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
