Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

test: migrate to the v2 variant of the sstable writer API
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_datafile_test.cc
  test/boost/sstable_mutation_test.cc
  test/boost/sstable_set_test.cc
  test/boost/view_build_test.cc
  test/lib/sstable_utils.cc
  test/lib/sstable_utils.hh
Owners: @tgrabiec, @haaawk

mutation_compactor: remove now unused compact_for_compaction
  mutation_compactor.hh
Owners: @tgrabiec, @haaawk

compaction/compaction: use v2 sstable writer
  compaction/compaction.cc
Owners: none

memtable-sstable: migrate to v2 variant of sstable writer API
  memtable-sstable.hh
  replica/table.cc
Owners: none

sstables: remove _v2 from sstable writer API names
  compaction/compaction.cc
  sstables/mx/writer.cc
  sstables/mx/writer.hh
  sstables/sstable_writer.hh
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/writer.cc
  sstables/writer_impl.hh
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_datafile_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh

test/boost/mutation_test: migrate to compact_for_mutation_v2
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

test/lib/mutation_source_test: log name of each run_mutation_source()
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

mutation_reader: convert compacting reader v2
  compaction/compaction.cc
  mutation_reader.cc
  mutation_reader.hh
  replica/table.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

utils/exceptions: add maybe_rethrow_exception()
  utils/exceptions.hh
Owners: none

sstables/sstable: make data_stream() and data_read() public
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc, @nyh

tools/scylla-sstable: add decompress operation
  tools/scylla-sstable.cc
Owners: none

sstables/sstable: add validate_checksums()
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/sstable_datafile_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh

tools/scylla-sstable: consume_sstables(): s/no_skips/use_crawling_reader/
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstables: add validate-checksums operation
  tools/scylla-sstable.cc
Owners: none

mutation_writer: drop now unused v1 variants of bucket_writer feed_writer()
  mutation_writer/feed_writers.cc
  mutation_writer/feed_writers.hh
Owners: @tgrabiec, @haaawk

mutation_writer: partition_based_splitting_writer: convert implementation to v2
  mutation_writer/partition_based_splitting_writer.cc
Owners: @tgrabiec, @haaawk

WIP
  replica/database.cc
Owners: none

Wip2
  replica/database.cc
Owners: none

WIP3
  replica/database.cc
Owners: none

utils/exceptions: add maybe_rethrow_exception()
  utils/exceptions.hh
Owners: none

sstables/sstable: make data_stream() and data_read() public
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables: sstable: add raw_data_stream() method
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/sstable: add validate_checksums()
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/sstable_datafile_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh

tools/scylla-sstable: consume_sstables(): s/no_skips/use_crawling_reader/
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstables: add validate-checksums operation
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: add decompress operation
  tools/scylla-sstable.cc
Owners: none

mutation_fragment_stream_validator: validate range tombstone changes
  mutation_fragment_stream_validator.hh
  readers/mutation_reader.cc
Owners: @tgrabiec, @haaawk

test/boost/mutation_test: add test for mutation_fragment_stream_validator
  test/boost/mutation_fragment_test.cc
Owners: @tgrabiec, @haaawk

compaction/compaction: abort scrub when attempting to rectify stream with active tombstone
  compaction/compaction.cc
Owners: none

wip
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/querier_cache_test.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

replica: move data_dictionary_impl into own header
  replica/data_dictionary_impl.hh
  replica/database.cc
Owners: none

replica: disentangle data_dictionary_impl from database
  replica/data_dictionary_impl.hh
  replica/database.hh
Owners: none

tombstone_gc: switch to using data dictionary
  cql3/statements/cf_prop_defs.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

data_dictionary: database: add get_effective_replication_map()
  data_dictionary/data_dictionary.cc
  data_dictionary/data_dictionary.hh
  data_dictionary/impl.hh
  replica/data_dictionary_impl.hh
Owners: none

index/secondary_index_manager: switch to using data dictionary
  index/secondary_index_manager.cc
  index/secondary_index_manager.hh
  replica/table.cc
Owners: none

replica/table: add as_data_dictionary()
  replica/database.hh
  replica/table.cc
Owners: none

tools/schema_loader: use own data dictionary impl
  tools/schema_loader.cc
Owners: @tgrabiec, @nyh

readers: add v2 variant of reversing reader
  readers/mutation_readers.cc
  readers/reversing_v2.hh
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

readers/reversing: remove FIXME
  readers/reversing.hh
Owners: none

readers/flat_mutation_reader_v2::impl: add get_buffer_size()
  readers/flat_mutation_reader_v2.hh
Owners: @tgrabiec, @haaawk

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
