Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

test: cql_test_env: use proper scheduling groups
  test/boost/cql_query_test.cc
  test/boost/database_test.cc
  test/boost/view_build_test.cc
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
  test/manual/sstable_scan_footprint_test.cc
Owners: none

database: add obtain_reader_permit()
  database.cc
  database.hh
Owners: none

reader_permit: allow marking it as used
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: extract waiter admission into separate function
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: add permit to permit list in impl constructor
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

multishard_mutation_query: use obtain_reader_permit()
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

multishard_mutation_query: save_reader(): avoid round-trip for destroying rparts
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

view/view_update_generator: use obtain_reader_permit()
  db/view/view_update_generator.cc
Owners: @nyh, @psarna

reader_concurrency_semaphore: make_permit(): add up-front admission variants
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

test: use with_cql_test_env_thread where needed
  test/boost/cql_query_large_test.cc
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/multishard_mutation_query_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/querier_cache_test.cc
  test/boost/view_build_test.cc
Owners: @tgrabiec, @haaawk

database: make_multishard_streaming_reader: use external permit
  database.cc
  database.hh
  repair/row_level.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @asias, @nyh, @haaawk

flat_mutation_reader: mark permit as used when reader is used
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: maintain total number of permits
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: introduce evicted state
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_permit: allow marking blocked
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: admission: flip the switch
  database.cc
  db/view/view_update_generator.cc
  mutation_reader.cc
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  table.cc
  test/boost/view_build_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @nyh, @psarna, @tgrabiec, @haaawk

test: mutation_reader_test: remove restricted reader tests
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: remove now unused make_permit()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

table: make_sstable_reader(): fix indentation
  table.cc
Owners: none

test: reader_lifecycle_policy: add permit parameter to factory function
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_reader_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

sstables: sstable_set: remove now unused make_restricted_range_sstable_reader()
  sstables/sstable_set.cc
  sstables/sstable_set.hh
Owners: @tgrabiec, @raphaelsc, @nyh

test: move away from make_permit()
  test/boost/mutation_fragment_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/querier_cache_test.cc
  test/boost/reader_concurrency_semaphore_test.cc
  test/boost/view_build_test.cc
  test/lib/reader_lifecycle_policy.hh
  test/lib/reader_permit.cc
  test/manual/sstable_scan_footprint_test.cc
Owners: @tgrabiec, @haaawk

table: clean up make_sstable_reader()
  table.cc
Owners: none

mutation_reader: evictable_reader: futurize resume_or_recreate_reader()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

database: increase semaphore max queue size
  database.hh
Owners: none

treewide: use make_tracking_only_permit()
  database.cc
  db/view/view.cc
  memtable.cc
  mutation_writer/multishard_writer.cc
  sstables/compaction.cc
  sstables/kl/writer.cc
  sstables/mx/writer.cc
  sstables/sstables.cc
  table.cc
  tools/scylla-sstable-index.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk, @raphaelsc

test: mutation_reader_test: share permit between readers in a read
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

mutation_reader: remove now unused restricting_reader
  database.hh
  mutation_reader.cc
  mutation_reader.hh
  table.cc
Owners: @tgrabiec, @haaawk

test: reader_concurrency_semaphore_test: move away from make_permit()
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

Merge 'Add per query timeout' from Piotr Sarna
  cql3/Cql.g
  cql3/attributes.cc
  cql3/attributes.hh
  cql3/statements/batch_statement.cc
  cql3/statements/batch_statement.hh
  cql3/statements/create_view_statement.cc
  cql3/statements/modification_statement.cc
  cql3/statements/modification_statement.hh
  cql3/statements/raw/select_statement.hh
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
  docs/cql-extensions.md
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/cql-pytest/test_using_timeout.py
Owners: @tgrabiec, @penberg, @psarna, @nyh, @gleb-cloudius

test: add verification to using timeout prepared statements
  test/cql-pytest/test_using_timeout.py
Owners: none

test: add cases for using timeout with bind markers
  test/cql-pytest/test_using_timeout.py
Owners: none

test: add cases for using timeout with batches
  test/cql-pytest/test_using_timeout.py
Owners: none

Revert "Revert "Mark CDC as GA""
  db/config.cc
  db/config.hh
  gms/feature_service.cc
  service/storage_service.cc
  test/alternator/run
  test/boost/cdc_test.cc
  test/boost/config_test.cc
  test/boost/extensions_test.cc
  test/boost/schema_change_test.cc
  test/tools/cql_repl.cc
Owners: @tgrabiec, @asias, @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @nyh

storage_service: don't use `sys_dist_ks` before it is started
  db/system_distributed_keyspace.cc
  db/system_distributed_keyspace.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

database: migrate find_keyspace to string views
  database.cc
  database.hh
Owners: none

cdc: remove `streams_version::expired` field
  cdc/generation.hh
  db/system_distributed_keyspace.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas

cdc: Change for_testing to add_delay in make_new_cdc_generation
  cdc/generation.cc
  cdc/generation.hh
  service/storage_service.cc
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec, @asias

alternator: drop unneeded sstring creation
  alternator/executor.cc
Owners: @nyh, @psarna

system_distributed_keyspace: use mutation API to insert CDC streams
  db/system_distributed_keyspace.cc
  db/system_distributed_keyspace.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
