Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

test.py: add ToolTestSuite and ToolTest
  test.py
Owners: none

test: add simple_scylla_cluster_manager test suite
  test/simple_scylla_cluster_manager/conftest.py
  test/simple_scylla_cluster_manager/dummy-scylla-repo/api/api-doc/dummy
  test/simple_scylla_cluster_manager/dummy-scylla-repo/build/coverage/scylla
  test/simple_scylla_cluster_manager/dummy-scylla-repo/build/debug/scylla
  test/simple_scylla_cluster_manager/dummy-scylla-repo/build/dev/scylla
  test/simple_scylla_cluster_manager/dummy-scylla-repo/build/dummy-scylla
  test/simple_scylla_cluster_manager/dummy-scylla-repo/build/release/scylla
  test/simple_scylla_cluster_manager/dummy-scylla-repo/build/sanitize/scylla
  test/simple_scylla_cluster_manager/dummy-scylla-repo/conf/scylla.yaml
  test/simple_scylla_cluster_manager/dummy-scylla-repo/scripts/simple_scylla_cluster_manager.py
  test/simple_scylla_cluster_manager/simple_scylla_cluster_manager.py
  test/simple_scylla_cluster_manager/suite.yaml
  test/simple_scylla_cluster_manager/test_cluster_ops.py
  test/simple_scylla_cluster_manager/test_node_ops.py
Owners: none

scripts: introduce simple_scylla_cluster_manager.py
  scripts/simple_scylla_cluster_manager.py
Owners: none

tools/utils: tool_app_template::run_async(): also detect --help* as --help
  tools/utils.cc
Owners: none

utils/s3/client: pass logger to dns_connection_factory in constructor
  utils/s3/client.cc
Owners: none

utils: export dns_connection_factory from s3/client.cc to http.hh
  utils/http.hh
  utils/s3/client.cc
Owners: none

tools: introduce scylla-nodetool
  configure.py
  main.cc
  tools/CMakeLists.txt
  tools/entry_point.hh
  tools/scylla-nodetool.cc
Owners: none

tools/scylla-nodetool: implement compact operation
  tools/scylla-nodetool.cc
Owners: none

WIP
  test/nodetool/rest_api_mock.py
  tools/scylla-nodetool.cc
Owners: none

test.py: add ToolTestSuite and ToolTest
  test.py
Owners: none

test: add nodetool tests
  test/nodetool/conftest.py
  test/nodetool/rest_api_mock.py
  test/nodetool/suite.yaml
  test/nodetool/test_nodetool.py
Owners: none

tools/scylla-nodetool: implement basic scylla_rest_api_client
  tools/scylla-nodetool.cc
Owners: none

WIP
  tools/scylla-nodetool.cc
Owners: none

WIP
  test/nodetool/conftest.py
  test/nodetool/rest_api_mock.py
  test/nodetool/test_nodetool.py
Owners: none

WIP
  test/nodetool/conftest.py
Owners: none

WIP
  test/nodetool/conftest.py
  test/nodetool/rest_api_mock.py
  test/nodetool/test_nodetool.py
Owners: none

WIP
  test/nodetool/conftest.py
  test/nodetool/rest_api_mock.py
  test/nodetool/test_nodetool.py
Owners: none

PASS
  test/nodetool/rest_api_mock.py
  test/nodetool/test_nodetool.py
  tools/scylla-nodetool.cc
Owners: none

WIP
  test/nodetool/conftest.py
  test/nodetool/rest_api_mock.py
  test/nodetool/test_compact.py
  test/nodetool/test_nodetool.py
Owners: none

WIP
  test/nodetool/rest_api_mock.py
  test/nodetool/test_compact.py
  test/nodetool/test_nodetool.py
  tools/scylla-nodetool.cc
Owners: none

tools/scylla-nodetool: implement tableshistograms
  tools/scylla-nodetool.cc
Owners: none

WIP
  cache_flat_mutation_reader.hh
  partition_snapshot_row_cursor.hh
  test/boost/row_cache_test.cc
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

wip test
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

real fix - WIP
  cache_flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

WIP
  cache_flat_mutation_reader.hh
  mutation/mutation_partition.cc
  mutation/mutation_partition_v2.cc
  partition_snapshot_row_cursor.hh
  readers/flat_mutation_reader_v2.hh
  test/boost/mutation_test.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

wip
  cache_flat_mutation_reader.hh
  mutation/partition_version.cc
  partition_snapshot_row_cursor.hh
Owners: @tgrabiec, @haaawk

WIP
  partition_snapshot_row_cursor.hh
Owners: none

mutation/canonical_mutation: add key()
  mutation/canonical_mutation.cc
  mutation/canonical_mutation.hh
Owners: @tgrabiec, @haaawk

locator/tablets: make tablet_metadata cheap to copy
  locator/load_sketch.hh
  locator/tablets.cc
  locator/tablets.hh
  locator/token_metadata.cc
  replica/tablets.cc
  service/storage_service.cc
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
  test/perf/perf_tablets.cc
Owners: @tgrabiec, @asias

replica/tablets: add get_tablet_metadata_change_hint() and update_tablet_metadata_change_hint()
  locator/tablets.hh
  replica/tablets.cc
  replica/tablets.hh
Owners: none

replica/tablets: extract tablet_metadata builder logic
  replica/tablets.cc
Owners: none

replica/tablets: fix indentation
  replica/tablets.cc
Owners: none

replica/tablets: tablet_metadata_builder: add check for no pending replicas
  replica/tablets.cc
Owners: none

service/storage_service: topology_state_load(): allow providing change hint
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

service/storage_service: load_tablet_metadata(): add hint parameter
  main.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

service/raft/group0_state_machine: provide tablet change hint on topology change
  service/raft/group0_state_machine.cc
Owners: none

db/schema_tables: pass tablet hint to update_tablet_metadata()
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

service/migration_listener: update_tablet_metadata(): add hint parameter
  auth/service.cc
  cql3/query_processor.cc
  cql3/query_processor.hh
  db/schema_tables.cc
  service/migration_listener.hh
  service/migration_manager.cc
  service/storage_service.cc
  service/storage_service.hh
  test/boost/schema_change_test.cc
  transport/event_notifier.cc
  transport/server.hh
Owners: @elcallio, @vladzcloudius, @tgrabiec, @penberg, @psarna, @nyh, @asias

test/boost/tablets_test: add test for partial tablet metadata updates
  test/boost/tablets_test.cc
Owners: none

replica/tablets: add update_tablet_metadata()
  replica/tablets.cc
  replica/tablets.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
