Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

schema: introduce make_reversed()
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

range_tombstone_accumulator: drop _reversed flag
  db/view/view.hh
  mutation_compactor.hh
  range_tombstone.cc
  range_tombstone.hh
  test/boost/mutation_test.cc
  test/boost/range_tombstone_list_test.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

schema: extract view info initialization from other schema
  schema.cc
  schema.hh
Owners: @tgrabiec, @nyh

flat_mutation_reader: reversed_reader: switch to native reversed format
  database.cc
  flat_mutation_reader.cc
  frozen_mutation.cc
  multishard_mutation_query.cc
  mutation_compactor.hh
  querier.hh
  test/boost/flat_mutation_reader_test.cc
  test/boost/mutation_query_test.cc
Owners: @tgrabiec, @haaawk

test/boost/flat_mutation_reader_test: reversed reader test
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

types: add reversed(data_type)
  types.cc
  types.hh
Owners: none

clustering_bounds_comparator: add reverse_kind()
  clustering_bounds_comparator.hh
  keys.cc
Owners: none

mutation_rebuilder: make it standalone
  mutation.cc
  mutation_rebuilder.hh
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

mutation: introduce reverse()
  mutation.cc
  mutation.hh
Owners: @tgrabiec, @haaawk

mutation: make copy constructor compatible with mutation_opt
  mutation.hh
Owners: @tgrabiec, @haaawk

flat_mutation_reader: reversed_reader: switch to native reversed format
  database.cc
  flat_mutation_reader.cc
  multishard_mutation_query.cc
  mutation.hh
  mutation_compactor.hh
  mutation_partition.cc
  mutation_query.hh
  querier.hh
  test/boost/flat_mutation_reader_test.cc
  test/boost/mutation_query_test.cc
Owners: @tgrabiec, @haaawk

range_tombstone: add reverse()
  range_tombstone.hh
Owners: none

range_tombstone_accumulator: drop _reversed flag
  db/view/view.hh
  mutation_compactor.hh
  range_tombstone.cc
  range_tombstone.hh
  test/boost/mutation_test.cc
  test/boost/range_tombstone_list_test.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

schema: introduce make_reversed()
  schema.cc
  schema.hh
  test/boost/schema_change_test.cc
Owners: @tgrabiec, @nyh

test/boost/mutation_test: add test for mutation::consume() monotonicity
  test/boost/mutation_test.cc
Owners: @tgrabiec, @haaawk

test/boost/flat_mutation_reader_test: more reversed reader tests
  test/boost/flat_mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

release: prepare for 2021.1.5
  SCYLLA-VERSION-GEN
  dist/docker/redhat/Dockerfile
Owners: none

WIP
  flat_mutation_reader.cc
  flat_mutation_reader.hh
  querier.hh
  test/boost/flat_mutation_reader_test.cc
  test/lib/mutation_source_test.cc
Owners: @tgrabiec, @haaawk

docs/guides/debugging.md: mention the debuginfo package pitfall
  docs/guides/debugging.md
Owners: none

build: adjust build identifier to exclude customer name
  SCYLLA-VERSION-GEN
Owners: none

dist/redhat: drop Conflicts with older kernel
  dist/redhat/scylla.spec
Owners: none

gossiper: Use dedicated gossip scheduling group
  database.hh
  gms/gossiper.cc
  gms/gossiper.hh
  main.cc
Owners: @tgrabiec, @asias

build: bump build number for gossip in its own scheduling group
  SCYLLA-VERSION-GEN
Owners: none

dist/debian: keep sysconfdir.conf for scylla-housekeeping on 'remove'
  dist/debian/debian/scylla-server.postrm
Owners: none

sstables: wire in crawling reader
  sstables/sstable_set.cc
  sstables/sstable_set.hh
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc, @nyh

compaction: scrub/validate: use the crawling sstable reader
  compaction/compaction.cc
Owners: none

Merge commit 'crawling-sstable-reader-2021.1' from Botond into branch-2021.1-validation-compaction
  database.hh
  sstables/compaction.cc
  sstables/partition.cc
  sstables/sstables.hh
  table.cc
Owners: @tgrabiec, @raphaelsc, @nyh

repair: row_level: invoke on_internal_error() on out-of-order partitions
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

flat_mutation_reader: consume_in_thread: always filter.on_end_of_stream on return
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

Merge "Validate token monotonicity on the sstable write path" from Botond
  flat_mutation_reader.cc
  mutation_fragment_stream_validator.hh
  sstables/sstables_manager.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

mf-stream-validator: add previous partition key to error messages
  flat_mutation_reader.cc
Owners: @tgrabiec, @haaawk

build: bump build number for validation on write path and crawling sstable reader
  SCYLLA-VERSION-GEN
Owners: none

repair: Use a timeout for reading fragments
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

compaction: Don't purge tombstones in scrub
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
Owners: @tgrabiec, @raphaelsc, @nyh

build: bump build number for keeping tombstones during scrub
  SCYLLA-VERSION-GEN
Owners: none

query: specific_ranges: add non-const ranges accessor
  query-request.hh
Owners: none

types: add reversed(data_type)
  types.cc
  types.hh
Owners: none

range_tombstone: add reverse()
  range_tombstone.hh
Owners: none

schema: introduce make_reversed()
  schema.cc
  schema.hh
  test/boost/schema_change_test.cc
Owners: @tgrabiec, @nyh

clustering_bounds_comparator: add reverse_kind()
  clustering_bounds_comparator.hh
  keys.cc
Owners: none
