Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

test/lib/sstable_test_env: make_table_config(): use local dirty memory manager instance
  test/lib/sstable_test_env.hh
Owners: none

test/lib/sstable_utils: use test_env::do_with_async()
  test/lib/sstable_utils.hh
Owners: none

replica/database: remove unused default_dirty_memory_manager global
  dirty_memory_manager.hh
  replica/database.cc
  replica/database.hh
Owners: none

compaction/compaction_descriptor: compaction_type_options::scrub: remove higher level options
  api/storage_service.cc
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  test/boost/sstable_compaction_test.cc
Owners: none

utils/logalloc: prime_segment_pool(): respect request for 0 reserves
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec

utils/logalloc: make tracker a sharded service
  debug.hh
  main.cc
  replica/database.cc
  replica/database.hh
  scylla-gdb.py
  test/boost/cached_file_test.cc
  test/boost/chunked_managed_vector_test.cc
  test/boost/mvcc_test.cc
  test/boost/sstable_conforms_to_mutation_source_test.cc
  test/lib/cql_test_env.cc
  test/lib/logalloc.hh
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
  test/lib/test_services.hh
  test/perf/perf.cc
  test/perf/perf.hh
  test/perf/perf_mutation.cc
  test/perf/perf_sstable.cc
  tools/scylla-sstable.cc
  utils/logalloc.cc
  utils/logalloc.hh
Owners: @tgrabiec, @haaawk

reader_permit: add wait_admission()
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

repair/row_level: only pass admission when needed
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

SCYLLA-VERSION-GEN: bump build
  SCYLLA-VERSION-GEN
Owners: none

readers/combined: document existing optimization for 0 and 1 readers
  readers/combined.hh
Owners: none

sstables/sstable_set: remove optimization for 0 or 1 readers
  sstables/sstable_set.cc
Owners: @tgrabiec, @raphaelsc, @nyh

reader_concurrency_semaphore: move consume() out-of-line
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: use abort_source for timeout
  reader_concurrency_semaphore.cc
  reader_permit.hh
  readers/flat_mutation_reader_v2.hh
  sstables/mx/reader.cc
Owners: @tgrabiec, @haaawk

partition_snapshot_reader: add check_aborted() to do_fill_buffer()
  partition_snapshot_reader.hh
Owners: none

db/config: introduce reader_concurrency_semaphore_oom_kill_limit_multiplier_threshold
  db/config.cc
  db/config.hh
Owners: none

reader_concurrency_semaphore: add OOM killer
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  replica/database.cc
  sstables/sstables_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

reader_permit: use abort_source for timeout
  reader_concurrency_semaphore.cc
  reader_permit.hh
  readers/flat_mutation_reader_v2.hh
  sstables/mx/reader.cc
Owners: @tgrabiec, @haaawk

partition_snapshot_reader: add check_aborted() to do_fill_buffer()
  partition_snapshot_reader.hh
Owners: none

db/config: introduce reader_concurrency_semaphore_{serialize,kill}_limit_multiplier
  db/config.cc
  db/config.hh
  test/boost/querier_cache_test.cc
Owners: none

reader_concurrency_semaphore: add {serialize,kill}_limit_multiplier parameters
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  replica/database.cc
  sstables/sstables_manager.cc
Owners: @tgrabiec, @raphaelsc, @nyh

reader_concurrency_semaphore: wrap wait list
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: add request_memory()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
  scylla-gdb.py
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

reader_permit: resource_units: add constructor for already consumed res
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_permit: resource_units::reset(): only call consume() if needed
  reader_concurrency_semaphore.cc
Owners: none

reader_concurrency_semaphore: add OOM killer
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: tracked_file_impl: use request_memory()
  reader_concurrency_semaphore.cc
Owners: none

reader_concurrency_semaphore: move consume() out-of-line
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: resource_units: remove noexcept qualifier from constructor
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_permit: consume(): make it exception-safe
  reader_concurrency_semaphore.cc
Owners: none

reader_permit: add id() accessor
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: add foreach_permit()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: add get_state() accessor
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: document the new memory limits
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: expose operator<<(reader_permit::state)
  reader_permit.hh
Owners: none

test: reader_concurrency_semaphore_test: add test for semaphore memory limits
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

docs: scylla-{sstable,types}.rst: drop Syntax section
  docs/operating-scylla/admin-tools/scylla-sstable.rst
  docs/operating-scylla/admin-tools/scylla-types.rst
Owners: none

docs: scylla-sstable.rst: add sstable content section
  docs/operating-scylla/admin-tools/scylla-sstable.rst
Owners: none

dht/i_partitioner.hh: ring_position_ext: add weight() accessor
  dht/i_partitioner.hh
Owners: none

lang/lua: use lua_State* in Scylla type <-> Lua type conversions
  lang/lua.cc
Owners: none

lang/lua: fix type in aligned_used_data (meant to be user_data)
  lang/lua.cc
Owners: none
