Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

test/lib/cql_assertions: rows_assertions::assert_for_columns_of_row(): add index bound check
  test/lib/cql_assertions.cc
Owners: none

test/lib/cql_test_env: add batch type to execute_batch()
  test/boost/query_processor_test.cc
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: none

test/lib/cql_assertions: columns_assertions: add T* with_typed_column() overload
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_test_env: forward config to batchlog
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: none

utils/error_injection: add debug log to disable() and disable_all()
  utils/error_injection.hh
Owners: none

test/lib: introduce error_injection.hh
  test/lib/error_injection.hh
Owners: none

test/lib/cql_assertions: add source location to fail messages
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_assertions: add with_size(predicate) overload
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

service/storage_proxy: s/batch_replay_throw/storage_proxy_fail_replay_batch/
  service/storage_proxy.cc
  test/cluster/test_batchlog_manager.py
Owners: @gleb-cloudius

db/config: change batchlog_replay_cleanup_after_replays default to 1
  db/config.cc
  service/storage_proxy.cc
Owners: @gleb-cloudius

test/boost/batchlog_manager_test: add test for batchlog cleanup
  db/batchlog_manager.hh
  service/storage_proxy.cc
  test/boost/batchlog_manager_test.cc
  test/boost/test_config.yaml
Owners: @elcallio, @gleb-cloudius

WIP
  test/boost/batchlog_manager_test.cc
Owners: none

tombstone_gc: introduce tombstone_gc_state::for_tests()
  tombstone_gc.hh
Owners: none

db/row_cache: use tombstone_gc_state with value semantics
  db/cache_mutation_reader.hh
  db/read_context.hh
  db/row_cache.cc
  db/row_cache.hh
  replica/table.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

compaction: use tombstone_gc_state with value semantics
  compaction/compaction.cc
  compaction/compaction_group_view.hh
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/lib/test_services.cc
  tombstone_gc.hh
  tools/scylla-sstable.cc
Owners: none

replica/table: add get_tombstone_gc_state()
  compaction/compaction_manager.hh
  db/view/view.cc
  db/view/view_building_worker.cc
  replica/database.hh
  replica/multishard_query.cc
  replica/table.cc
  test/boost/row_cache_test.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

tombstone_gc: tombstone_gc_before_getter: add table_replication_factor param
  replica/table.cc
  test/boost/database_test.cc
  test/boost/row_cache_test.cc
  tombstone_gc.hh
Owners: @tgrabiec, @haaawk

sstable: move away from tombstone_gc_mode::operator bool()
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc, @nyh

treewide: move away from tombstone_gc_state(nullptr) ctor
  db/view/view.cc
  mutation/mutation.cc
  mutation/mutation_partition.cc
  replica/mutation_dump.cc
  tools/scylla-sstable.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk

tombstone_gc: allow use of repair-mode for RF=1 tables
  cdc/log.cc
  test/cluster/test_tombstone_gc.py
  test/cqlpy/test_select_from_mutation_fragments.py
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @haaawk, @kbr-, @elcallio, @piodul, @jul-stas, @tgrabiec

tombstone_gc: drop tombstone_gc_state(nullptr) ctor and operator bool()
  tombstone_gc.hh
Owners: none

tombstone_gc: tombstone_gc_before_getter: consider RF when getting gc before time
  tombstone_gc.cc
Owners: none

test: move away from tombstone_gc_state(nullptr) ctor
  test/boost/compaction_group_test.cc
  test/boost/database_test.cc
  test/boost/memtable_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_another_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/mutation_writer_test.cc
  test/boost/querier_cache_test.cc
  test/boost/row_cache_test.cc
  test/boost/sstable_compaction_test.cc
  test/lib/mutation_assertions.hh
  test/lib/mutation_reader_assertions.hh
  test/lib/mutation_source_test.cc
  test/lib/test_services.cc
  test/manual/bti_cassandra_compatibility_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @tgrabiec, @haaawk

wip
  replica/database.cc
  test/boost/database_test.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

doc: improve benchmarking instructions
  docs/operating-scylla/benchmarking-scylla.rst
Owners: none

replica/database: move streaming_reader_lifecycle_policy methods out-of-line
  replica/database.cc
  replica/database.hh
Owners: none

replica/database.hh: drop readers/multishard.hh include
  db/view/view.cc
  readers/multishard.hh
  readers/multishard_fwd.hh
  replica/database.cc
  replica/database.hh
  replica/streaming_reader_lifecycle_policy.hh
Owners: @nyh, @psarna

transport/server: delay requests_serving decrement until response is written
  SCYLLA-VERSION-GEN
  transport/server.cc
Owners: @penberg

raft/group0: fix destroy assertion on startup failure
  service/raft/group0_state_machine.cc
  service/raft/raft_group0.cc
  test/cluster/test_failure_after_group0_server_registration.py
Owners: none

SCYLLA-VERSION-GEN: Update private build
  SCYLLA-VERSION-GEN
Owners: none

auth/cache: handle missing permissions column
  auth/cache.cc
Owners: @elcallio, @vladzcloudius

SCYLLA-VERSION-GEN: update private build
  SCYLLA-VERSION-GEN
Owners: none

sstables: use chunked_managed_vector for promoted indexes in partition_index_page
  sstables/index_entry.hh
Owners: @tgrabiec, @raphaelsc, @nyh

SCYLLA-VERSION-GEN: bump scylla_build for private build
  SCYLLA-VERSION-GEN
Owners: none

utils/rjson: try_parse(): return std::expected<rjson::value, sstring>
  index/secondary_index.cc
  index/vector_index.cc
  utils/rjson.cc
  utils/rjson.hh
Owners: none

utils/rjson: quote_json_string: change input to std::string_view
  utils/rjson.cc
  utils/rjson.hh
Owners: none

utils/rjson: introduce escape_json_string()
  utils/rjson.cc
  utils/rjson.hh
Owners: none

cql3/query_result_printer: print_query_results_text(): add expand option
  cql3/query_result_printer.hh
  cql3/result_set.cc
Owners: @tgrabiec, @penberg, @psarna

service/client_data: add webshell client_type
  client_data.cc
  client_data.hh
Owners: none

cql3/query_result_printer: prepare for seastar::output_stream<>
  cql3/query_result_printer.hh
  cql3/result_set.cc
  test/lib/cql_assertions.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @penberg, @psarna

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
