Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

repair: enable cleanup for batchlog flush
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

db/config: change batchlog_replay_cleanup_after_replays default to 1
  db/config.cc
Owners: none

test/boost/batchlog_manager_test: add test for batchlog cleanup
  test/boost/batchlog_manager_test.cc
Owners: none

test: rewrite test_compacting_reader_tombstone_gc_with_data_in_memtable in C++
  test/boost/row_cache_test.cc
  test/cluster/test_compacting_reader_tombstone_gc.py
Owners: @tgrabiec, @haaawk

test/boost/row_cache_test: refactor test_populating_reader_tombstone_gc_with_data_in_memtable
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

compaction_garbage_collector: Extend return type of max_purgeable_fn
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
  db/read_context.hh
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  replica/table.cc
  test/boost/mutation_test.cc
  test/boost/sstable_compaction_test.cc
Owners: @tgrabiec, @haaawk

compaction/compaction_garbage_collector: refactor max_purgeable into a class
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  replica/table.cc
  test/boost/mutation_test.cc
  test/boost/sstable_compaction_test.cc
Owners: @tgrabiec, @haaawk

mutation: move definition of gc symbols to compaction.cc
  compaction/compaction.cc
  mutation/mutation_partition.cc
Owners: @tgrabiec, @haaawk

compaction/compaction_garbage_collector: add formatter for max_purgeable
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
Owners: none

db/read_context: return max_purgeable from get_max_purgeable()
  db/cache_mutation_reader.hh
  db/read_context.hh
Owners: @tgrabiec, @haaawk

replica/memtable_list: s/min_live_timestamp()/get_max_purgeable()/
  replica/database.cc
  replica/database.hh
  replica/table.cc
Owners: none

tombstone_gc: refactor get_or_greate_repair_history_for_table()
  tombstone_gc.cc
Owners: none

tombstone_gc: fold get_or_create_repair_history_for_table() into update_repair_time()
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: fold get_or_create_group0_gc_time() into update_group0_refresh_time()
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: fold get_group0_gc_time() into its caller
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: per_table_history_maps::_group0_gc_time: make it a value
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: extract shared state into shared_tombstone_gc_state
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  repair/row_level.cc
  replica/database.cc
  replica/tablets.cc
  service/raft/group0_state_id_handler.cc
  service/storage_service.cc
  test/boost/row_cache_test.cc
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @tgrabiec, @asias, @nyh, @haaawk

tombstone_gc: introduce tombstone_gc_state_snapshot
  test/boost/database_test.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

replica/memtable: add tombstone_gc_state_snapshot
  replica/memtable.cc
  replica/memtable.hh
Owners: none

replica/memtable_list: add tombstone_gc_state* member
  replica/database.cc
  replica/database.hh
Owners: none

replica/table: propagate gc_state to memtable_list
  replica/table.cc
Owners: none

compaction/compaction_garbage_collector: max_purgeable: add expiry_treshold
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
  test/boost/database_test.cc
Owners: none

replica/database: memtable_list::get_max_purgeable(): set expiry-treshold
  replica/database.cc
Owners: none

replica/table: get_max_purgeable_fn_for_cache_underlying_reader(): use max_purgable::combine()
  replica/table.cc
Owners: none

db/cache_mutation_reader: use max_purgeable::can_purge()
  db/cache_mutation_reader.hh
Owners: @tgrabiec, @haaawk

mutation/mutation_compactor: use max_purgeable::can_purge and max_purgeable::purge_result
  mutation/mutation_compactor.hh
Owners: @tgrabiec, @haaawk

db/cache_mutation_reader: obtain gc-before and min-live-ts lazily
  db/cache_mutation_reader.hh
Owners: @tgrabiec, @haaawk

test/boost/row_cache_test: add test for memtable overlap check elision
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @haaawk

docs/dev/tombstone.md: document the memtable overlap check elision optimization
  docs/dev/tombstone.md
Owners: none

db/batchlog_manager: finish coroutinizing replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: include cleanup flag in replayAllFailedBatches log
  db/batchlog_manager.cc
Owners: @elcallio

db: coroutinize batchlog_manager::replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: batch(): replace map_reduce() with simple loop
  db/batchlog_manager.cc
Owners: @elcallio

db/system_keyspace: disable caching for the batchlog table
  db/system_keyspace.cc
Owners: none

db/config: change batchlog_replay_cleanup_after_replays default to 1
  db/config.cc
Owners: none

repair: enable cleanup for batchlog flush
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

batchlog replay stats
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/boost/batchlog_manager_test.cc
Owners: @elcallio, @tgrabiec, @asias, @nyh

mutation/mutation_compactor: compaction:stats: split partitions
  mutation/mutation_compactor.hh
  querier.hh
  replica/multishard_query.cc
Owners: @tgrabiec, @haaawk

WIP - batchlog tracing
  cql3/query_processor.cc
  cql3/query_processor.hh
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/cluster/test_batchlog_manager.py
Owners: @tgrabiec, @penberg, @psarna, @elcallio, @asias, @nyh

[WIP] db/batchlog: cleanup via truncate
  db/batchlog_manager.cc
Owners: @elcallio

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
