Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

WIP: nuke JMX
  .gitmodules
  configure.py
Owners: none

WIP - rip out jmx
  dist/debian/control.template
  dist/redhat/scylla.spec
  install.sh
  tools/toolchain/Dockerfile
  unified/build_unified.sh
  unified/install.sh
Owners: none

multishard_mutation_query.cc: use shard_for_reads() instead of shard_of()
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

readers/multishard.cc: use shard_for_reads() instead of shard_of()
  readers/multishard.cc
Owners: none

pull_github_pr.sh: update PR with `closes` prefix to avoid backporting wrong SHA commit
  scripts/pull_github_pr.sh
Owners: none

WIP
  scripts/pull_github_pr.sh
Owners: none

db/config: introduce reader_concurrency_semahore_cpu_concurrency
  db/config.cc
  db/config.hh
Owners: none

reader_concurrency_semaphore: add cpu_concurrency constructor parameter
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  replica/database.cc
  sstables/sstables_manager.cc
  test/boost/reader_concurrency_semaphore_test.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @haaawk

test/perf: introduce perf_large_collection
  configure.py
  test/perf/perf_large_collection.cc
Owners: none

WIP
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
  test/perf/perf_large_collection.cc
Owners: none

reader_concurrency_semaphore: wire in the configurable cpu concurrency
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

WIP - share data
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
  test/perf/perf_large_collection.cc
Owners: none

tools/scylla-sstable: scylla_sstable_table_state: support UUID sstable generation
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: scylla_sstable_table_state: support tombstone GC
  tools/scylla-sstable.cc
Owners: none

docs: scylla-sstable.rst: clarify how loading the schema from a file works
  docs/operating-scylla/admin-tools/scylla-sstable.rst
Owners: none

tools/scylla-sstable: rephrase the description of --system-schema
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: extract code which loads schema from sstable serialization header
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: add --sstable-schema option
  docs/operating-scylla/admin-tools/scylla-sstable.rst
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: introduce scylla sstable compact
  tools/scylla-sstable.cc
Owners: none

tools/scylla-sstable: introduce the --dry-run option
  tools/scylla-sstable.cc
Owners: none

mutation/canonical_mutation: add key()
  mutation/canonical_mutation.cc
  mutation/canonical_mutation.hh
Owners: @tgrabiec, @haaawk

locator/tablets: make tablet_metadata cheap to copy
  locator/load_sketch.hh
  locator/tablets.cc
  locator/tablets.hh
  locator/token_metadata.cc
  replica/tablets.cc
  service/storage_service.cc
  service/tablet_allocator.cc
  service/topology_coordinator.cc
  test/boost/tablets_test.cc
  test/perf/perf_tablets.cc
  test/perf/tablet_load_balancing.cc
Owners: @tgrabiec, @asias

locator/tablets: add tablet_map::clear_tablet_transition_info()
  locator/tablets.cc
  locator/tablets.hh
Owners: none

replica/tablets: add get_tablet_metadata_change_hint() and update_tablet_metadata_change_hint()
  locator/tablets.cc
  locator/tablets.hh
  replica/tablets.cc
  replica/tablets.hh
Owners: none

db/schema_tables: pass tablet hint to update_tablet_metadata()
  db/schema_tables.cc
Owners: @tgrabiec, @nyh

replica/tablets: fix indentation
  replica/tablets.cc
Owners: none

replica/tablets: extract tablet_metadata builder logic
  replica/tablets.cc
Owners: none

replica/tablets: add update_tablet_metadata()
  replica/tablets.cc
  replica/tablets.hh
Owners: none

service/raft/group0_state_machine: provide tablet change hint on topology change
  service/raft/group0_state_machine.cc
Owners: none

service/storage_service: load_tablet_metadata(): add hint parameter
  main.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

test/boost/tablets_test: add test for partial tablet metadata updates
  test/boost/tablets_test.cc
Owners: none

service/storage_service: topology_state_load(): allow providing change hint
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

service/migration_listener: update_tablet_metadata(): add hint parameter
  auth/service.cc
  cql3/query_processor.cc
  cql3/query_processor.hh
  db/schema_tables.cc
  service/migration_listener.hh
  service/migration_manager.cc
  service/storage_service.cc
  service/storage_service.hh
  test/boost/schema_change_test.cc
  transport/event_notifier.cc
  transport/server.hh
Owners: @elcallio, @vladzcloudius, @tgrabiec, @penberg, @psarna, @nyh, @asias

test/perf/perf_tablets: add tablet metadata reload perf measurement
  test/perf/perf_tablets.cc
Owners: none

readers/multishard: multishard_reader: pass hint to shard_reader
  readers/multishard.cc
Owners: none

readers/multishard: shard_reader: extract buffer-fill into its own method
  readers/multishard.cc
Owners: none

readers/multishard: shard_reader_v2::fill_reader_buffer(): respect the hint
  readers/multishard.cc
Owners: none

readers/multishard: propagate fill_buffer_hint to shard_reader:fill_reader_buffer()
  readers/multishard.cc
Owners: none

readers/multishard: add read_ahead parameter
  readers/multishard.cc
  readers/multishard.hh
Owners: none

readers/multishard: implement the read_ahead flag
  readers/multishard.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
