Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

query: remove the now unused data_query()
  mutation_partition.cc
  mutation_query.hh
Owners: @tgrabiec, @haaawk

table: query(): use obtain_permit()
  table.cc
Owners: none

compaction: Fix leak of expired sstable in the backlog tracker
  sstables/compaction.cc
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/mp_row_consumer: Fix unbounded memory usage when consuming a large run of partition tombstones
  sstables/mp_row_consumer.hh
Owners: @tgrabiec, @raphaelsc, @nyh

reader_concurrency_semaphore: extract waiter admission into separate function
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: maintain total number of permits
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: add permit to permit list in impl constructor
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: always forward resources
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_permit: introduce evicted state
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

flat_mutation_reader: mark permit as used when reader is used
  flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

mutation_reader: shard_reader: coroutinize fill_buffer() and fast_forward_to()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

test: mutation_reader_test: add reader concurrency admission test
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

sstables: continuous_data_consumer: mark permit as blocked when doing IO
  sstables/consumer.hh
Owners: @tgrabiec, @raphaelsc, @nyh

reader_permit: add reader_permit_opt
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: add can_admit()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

mutation_reader: shard_reader: mark permit as blocked when waiting on remote shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

mutation_reader: foreign_reader: mark permit as blocked when waiting on remote shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

reader_permit: allow marking it as used
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: rework diagnostics dump
  reader_concurrency_semaphore.cc
Owners: none

reader_permit: allow marking blocked
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: add dump_diagnostics()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: add ext_state()
  reader_concurrency_semaphore.cc
Owners: none

reader_concurrency_semaphore: admit new permits only when all used ones are stalled
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_permit: allow constructing reader_permit from impl&
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

mutation_reader: reader_lifecycle_policy: add obtain_reader_permit()
  database.cc
  database.hh
  multishard_mutation_query.cc
  mutation_reader.hh
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

database: make_streaming_reader(): require permit
  database.cc
  database.hh
  repair/repair.cc
  repair/row_level.cc
  service/storage_service.cc
  streaming/stream_transfer_task.cc
  table.cc
Owners: @tgrabiec, @asias, @nyh

mutation_reader: evictable_reader: wait for re-admission after eviction
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

table: mutation_query(): use obtain_permit()
  table.cc
Owners: none

mutation_reader: shard reader: forward reader's permit to remote reader if on same shard
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

table: add estimate_read_memory_cost()
  database.hh
  table.cc
Owners: none

multishard_mutation_query: use obtain_reader_permit()
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

repair/row_level: use database::obtain_reader_permit()
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

treewide: use make_tracking_only_permit()
  database.cc
  db/view/view.cc
  memtable.cc
  mutation_writer/multishard_writer.cc
  sstables/compaction.cc
  sstables/kl/writer.cc
  sstables/mx/writer.cc
  sstables/sstables.cc
  table.cc
  tools/scylla-sstable-index.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk, @raphaelsc

mutation_reader: evictable_reader: futurize resume_or_recreate_reader()
  mutation_reader.cc
Owners: @tgrabiec, @haaawk

view/view_update_generator: use obtain_reader_permit()
  db/view/view_update_generator.cc
Owners: @nyh, @psarna

table: query: use obtain_permit()
  table.cc
Owners: none

reader_concurrency_semaphore: make_permit(): add up-front admission variants
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

database: make_multishard_streaming_reader: use external permit
  database.cc
  database.hh
  repair/row_level.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @asias, @nyh, @haaawk

reader_permit: prepare for up-front admission
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

database: add obtain_reader_permit()
  database.cc
  database.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
