Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

db/hints/manager: node_to_hint_store_factory_type: migrate to node*
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints/manager: hints_in_progress_for(): migrage to node*
  db/hints/manager.cc
  db/hints/manager.hh
Owners: @haaawk, @piodul, @vladzcloudius

db/hints: use host-id as endpoint directory names
  db/hints/manager.cc
  db/hints/manager.hh
  db/hints/resource_manager.cc
Owners: @haaawk, @piodul, @vladzcloudius

db: move virtual tables into virtual_tables.cc
  configure.py
  db/CMakeLists.txt
  db/system_keyspace.cc
  db/virtual_tables.cc
  db/virtual_tables.hh
Owners: none

db/virtual_table: add static variant of set_cell()
  db/virtual_table.cc
  db/virtual_table.hh
Owners: none

replica/table: add make_memtable_reader()
  replica/database.hh
  replica/table.cc
Owners: none

replica/table: add make_cache_reader()
  replica/database.hh
  replica/table.cc
  row_cache.cc
  row_cache.hh
Owners: @tgrabiec, @haaawk

replica/table: add make_sstable_reader()
  replica/database.hh
  replica/table.cc
Owners: none

test/cql-pytest/test_virtual_tables.py: add test for mutation_dump table
  test/cql-pytest/test_virtual_tables.py
Owners: none

db/system_keyspace: add mutation_dump virtual table
  db/virtual_tables.cc
Owners: none

WIP - slicing
  db/virtual_tables.cc
  test/cql-pytest/test_virtual_tables.py
Owners: none

tools/json_writer: allow passing custom std::ostream to json_writer
  tools/json_writer.hh
Owners: none

tools/json_writer: allow writing metadata and value separately
  tools/json_writer.hh
  tools/scylla-sstable.cc
Owners: none

replica: extract query_state into own header
  replica/query_state.hh
  replica/table.cc
Owners: none

tools,mutation: extract the low-level json utilities into mutation/json.hh
  mutation/json.hh
  mutation/mutation.cc
  tools/json_writer.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @haaawk

replica/table: add select_memtables_as_mutation_sources()
  replica/database.hh
  replica/table.cc
Owners: none

replica/table: add make_nonpopulating_cache_reader()
  replica/database.hh
  replica/table.cc
  row_cache.cc
  row_cache.hh
Owners: @tgrabiec, @haaawk

tools/json_writer: fold SstableKey() overloads into callers
  tools/json_writer.hh
  tools/scylla-sstable.cc
Owners: none

tools/json_writer: split mutation_fragment_json_writer in two classes
  tools/json_writer.hh
  tools/lua_sstable_consumer.cc
  tools/scylla-sstable.cc
Owners: none

cql3/restrictions/statement_restrictions: fix indentation
  cql3/restrictions/statement_restrictions.cc
Owners: none

cql3/statements: wire-in mutation_fragments_select_statement
  cql3/statements/raw/select_statement.hh
  cql3/statements/select_statement.cc
Owners: none

service/storage_proxy: un-embed coordinator_query_options
  service/storage_proxy.hh
Owners: @gleb-cloudius

cql3/restrictions/statement_restrictions: add check_indexes flag
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

service/pager: allow passing a query functor override
  service/pager/query_pager.hh
  service/pager/query_pagers.cc
  service/pager/query_pagers.hh
Owners: none

cql3/statments/select_statement: add mutation_fragments_select_statement
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none

cql3: add SELECT MUTATION FRAGMENTS select statement sub-type
  cql3/Cql.g
  cql3/statements/raw/select_statement.hh
Owners: @tgrabiec, @penberg, @psarna

test/cql-pytest: add test_select_mutation_fragments.py
  test/cql-pytest/test_select_from_mutation_fragments.py
Owners: @tgrabiec, @haaawk

test/cql-pytest: move scylla_data_dir fixture to conftest.py
  test/cql-pytest/conftest.py
  test/cql-pytest/test_tools.py
Owners: none

replica: add mutation_dump
  configure.py
  replica/CMakeLists.txt
  replica/mutation_dump.cc
  replica/mutation_dump.hh
Owners: @tgrabiec, @haaawk

test/boost/database_test: add test for mutation_dump/generate_output_schema_from_underlying_schema
  test/boost/database_test.cc
Owners: none

docs/operating-scylla/admin-tools: add documentation for the SELECT * FROM MUTATION_FRAGMENTS() statement
  docs/operating-scylla/_common/tools_index.rst
  docs/operating-scylla/admin-tools/index.rst
  docs/operating-scylla/admin-tools/scylla-sstable.rst
  docs/operating-scylla/admin-tools/select-from-mutation-fragments.rst
Owners: @tgrabiec, @haaawk

test/topology_custom: add test_select_from_mutation_fragments.py
  test/topology_custom/test_select_from_mutation_fragments.py
Owners: @tgrabiec, @haaawk

replica/table: add optional compacting to make_streaming_reader()
  repair/row_level.cc
  replica/database.cc
  replica/database.hh
  replica/table.cc
  sstables_loader.cc
  streaming/stream_transfer_task.cc
Owners: @tgrabiec, @asias, @nyh

replica/table: add optional compacting to make_multishard_streaming_reader()
  repair/row_level.cc
  replica/database.cc
  replica/database.hh
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @asias, @nyh, @haaawk

repair/row_level: fix indentation in insert_repair_meta()
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

repair/row_level: coroutinize insert_repair_meta()
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

sstables_loader: opt-in for compacting the stream
  sstables_loader.cc
Owners: none

streaming: opt-in to compacting the stream
  streaming/stream_transfer_task.cc
Owners: @tgrabiec, @asias

repair/row_level: opt in to compacting the stream
  message/messaging_service.cc
  message/messaging_service.hh
  repair/reader.hh
  repair/row_level.cc
  repair/row_level.hh
  test/boost/repair_test.cc
Owners: @tgrabiec, @asias, @nyh

replica: make_[multishard_]streaming_reader(): make compaction_time mandatory
  replica/database.cc
  replica/database.hh
  replica/table.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius
