Repository denesb/scylla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elcallio, @vladzcloudius, @tgrabiec, @haaawk, @kbr-, @piodul, @jul-stas, @gleb-cloudius, @raphaelsc, @nyh, @penberg, @psarna, @asias, @syuu1228

.github/CODEOWNERS:

# AUTH
auth/* @elcallio @vladzcloudius

# CACHE
row_cache* @tgrabiec @haaawk
*mutation* @tgrabiec @haaawk
tests/mvcc* @tgrabiec @haaawk

# CDC
cdc/* @haaawk @kbr- @elcallio @piodul @jul-stas
test/cql/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas
test/boost/cdc_* @haaawk @kbr- @elcallio @piodul @jul-stas

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
sstables/compaction* @raphaelsc @nyh

# CQL TRANSPORT LAYER
transport/* @penberg

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @penberg @psarna

# COUNTERS
counters* @haaawk @jul-stas
tests/counter_test* @haaawk @jul-stas

# GOSSIP
gms/* @tgrabiec @asias

# DOCKER
dist/docker/* @penberg

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @psarna
cql3/statements/*view* @nyh @psarna

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias @nyh

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec @nyh
db/legacy_schema_migrator* @tgrabiec @nyh
service/migration* @tgrabiec @nyh
schema* @tgrabiec @nyh

# SECONDARY INDEXES
db/index/* @nyh @penberg @psarna
cql3/statements/*index* @nyh @penberg @psarna

# SSTABLES
sstables/* @tgrabiec @raphaelsc @nyh

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh @psarna
alternator-test/* @nyh @psarna

# HINTED HANDOFF
db/hints/* @haaawk @piodul @vladzcloudius

mutation_reader: reader_lifecycle_policy: add obtain_reader_permit()
  database.cc
  multishard_mutation_query.cc
  mutation_reader.hh
  test/lib/reader_lifecycle_policy.hh
Owners: @tgrabiec, @haaawk

querier_cache: insert(): close refused queriers
  querier.cc
  querier.hh
Owners: none

test: reader_concurrency_semaphore_test: move away from make_permit()
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

table: add estimate_read_memory_cost()
  database.hh
  table.cc
Owners: none

reader_concurrency_semaphore: remove now unused make_permit()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

treewide: use make_tracking_only_permit()
  compaction/compaction.cc
  database.cc
  db/view/view.cc
  multishard_mutation_query.cc
  mutation_writer/multishard_writer.cc
  sstables/mx/writer.cc
  sstables/sstables.cc
  table.cc
  tools/scylla-sstable-index.cc
Owners: @nyh, @psarna, @tgrabiec, @haaawk, @raphaelsc

database: make_multishard_streaming_reader: use external permit
  database.cc
  database.hh
  repair/row_level.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @asias, @nyh, @haaawk

test: mutation_reader_test: remove restricted reader tests
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: add set_max_queue_size()
  reader_concurrency_semaphore.hh
Owners: none

database: mutation_query(): handle querier lookup/save on the database level
  database.cc
  database.hh
  table.cc
Owners: none

view/view_update_generator: use obtain_reader_permit()
  db/view/view_update_generator.cc
Owners: @nyh, @psarna

database: increase semaphore max queue size
  database.hh
Owners: none

streaming/stream_session: use database::obtain_reader_permit()
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

test: index_with_paging_test: increase semaphore's queue size
  test/boost/index_with_paging_test.cc
Owners: none

multishard_mutation_query: use the passed-in permit to create new reader
  multishard_mutation_query.cc
Owners: @tgrabiec, @haaawk

repair/row_level: use database::obtain_reader_permit()
  repair/row_level.cc
Owners: @tgrabiec, @asias, @nyh

reader_permit: remove now unused wait_admission()
  reader_concurrency_semaphore.cc
  reader_permit.hh
Owners: none

reader_concurrency_semaphore: remove now unused obtain_permit_nowait()
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

table: make_sstable_reader(): fix indentation
  table.cc
Owners: none

database: remove now unused query execution stages
  database.cc
  database.hh
  scylla-gdb.py
Owners: none

mutation_reader: remove now unused restricting_reader
  database.hh
  mutation_reader.cc
  mutation_reader.hh
  table.cc
Owners: @tgrabiec, @haaawk

reader_concurrency_semaphore: add reads_{admitted,enqueued} stats
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

table: clean up make_sstable_reader()
  table.cc
Owners: none

sstables: sstable_set: remove now unused make_restricted_range_sstable_reader()
  sstables/sstable_set.cc
  sstables/sstable_set.hh
Owners: @tgrabiec, @raphaelsc, @nyh

test/boost/reader_concurrency_semaphore_test: add admission test
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

reader_permit: add operator<< for reader_resources
  reader_concurrency_semaphore.cc
  reader_permit.hh
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

test/boost/reader_concurrency_semaphore_test: add used/blocked test
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

reader_concurrency_semaphore: remove prethrow_action
  database.cc
  database.hh
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

reader_concurrency_semaphore: merge permit_stats into stats
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  test/boost/reader_concurrency_semaphore_test.cc
Owners: none

reader_concurrency_semaphore: get rid of struct permit_list
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
Owners: none

sstables/mx/writer: initialize _range_tombstones at the end of the ctor
  sstables/mx/writer.cc
Owners: none

WIP
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
Owners: none

main, test: adjust number of networking iocbs
  dist/common/sysctl.d/99-scylla-aio.conf
  main.cc
  test.py
  test/redis/run
Owners: none

release: prepare for 2021.1.4
  SCYLLA-VERSION-GEN
  dist/docker/redhat/Dockerfile
Owners: none

cache_flat_mutation_reader: Tune forward progress check
  cache_flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

cache_flat_mutation_reader: Generalize range tombstones emission
  cache_flat_mutation_reader.hh
Owners: @tgrabiec, @haaawk

Merge "Fix query performance for range tombstone covering many rows" from Tomasz
  cache_flat_mutation_reader.hh
  range_tombstone.cc
  range_tombstone.hh
  test/lib/memtable_snapshot_source.hh
  test/perf/perf_row_cache_reads.cc
Owners: @tgrabiec, @haaawk

Merge "sstables: validate the writer's input with the mutation fragment stream validator" from Botond
  flat_mutation_reader.cc
  flat_mutation_reader.hh
  mutation_fragment_stream_validator.hh
  sstables/compaction.cc
  sstables/kl/writer.cc
  sstables/mx/writer.cc
  sstables/sstables.cc
  sstables/writer.cc
  sstables/writer_impl.hh
  streaming/stream_transfer_task.cc
  test/boost/sstable_datafile_test.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh, @asias

mutation_fragment_stream_validating_filter: make validation levels more fine-grained
  flat_mutation_reader.cc
  mutation_fragment_stream_validator.hh
  sstables/sstables.hh
  sstables/sstables_manager.cc
  sstables/writer_impl.hh
  test/boost/sstable_datafile_test.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh

Merge "Introduce segregate scrub mode" from Botond
  api/api-doc/storage_service.json
  api/storage_service.cc
  configure.py
  flat_mutation_reader.cc
  mutation_fragment_stream_validator.hh
  mutation_writer/partition_based_splitting_writer.cc
  mutation_writer/partition_based_splitting_writer.hh
  sstables/compaction.cc
  sstables/compaction.hh
  sstables/compaction_descriptor.hh
  sstables/compaction_manager.cc
  sstables/compaction_manager.hh
  test/boost/mutation_writer_test.cc
  test/boost/sstable_datafile_test.cc
Owners: @tgrabiec, @haaawk, @raphaelsc, @nyh
